<div class="bg">
<div class="semi-circle"></div>
<div class="semi-circle1"></div>
<div class="header">
    <div class="line"></div>
    <div>
        <mat-icon class="icon-1">insert_drive_file</mat-icon>
        <p class="t1">SurveyForms</p>
        <p class="t2">Home</p>
        <p class="t3">About</p>
    </div>
    <div>
        <img src="assets/images/surveymain.png" class="img-1">
    </div>
    <div>
        <span class="t4">Online</span>
        <span class="t6">Survey</span>
    </div>
    <div class="line1"></div>
    <span class="t7">Create your own Survey Form in just one step
        Easy way to Create your own survey forms.
    </span>
    <button class="btn2" (click)="loginpage()">Get Started</button>
</div>
<div class="w"></div>
<div class="box2">
    <div>
        <span class="t8">Try it...</span>
        <div class="line2"></div>
        <div class="b1" routerLink="/demof1" @fade>
            <div class="logo">
                <img src="assets/images/contact.png" class="img-2">
                <span class="wd-3">Contact Form</span>
                <span class="wd-4">click to see the form </span>
            </div> 
        </div>
        <div class="b2" routerLink="/event" @fade>
            <div class="logo">
                <img src="assets/images/contact.png" class="img-2">
                <span class="wd-3">Event Form</span>
                <span class="wd-4">click to see the form </span>
            </div> 
        </div>
    </div>
</div>
<div>
    <app-nav-bar></app-nav-bar>
</div>
</div>