<div class="bg">
<div class="semi-circle"></div>
<div class="semi-circle1"></div>
<div class="header">
    <div class="line"></div>
    <div>
        <img src="assets/images/pageicon.png" class="icon-1">
        <p class="t1">Servuction</p>
        <span class="btn3" (click)="userlogin()">Login</span>
        <img src="assets/images/loginlogo.png" class="img-11">
    </div>
    <div>
        <img src="assets/images/surveymain.png" class="img-1">
    </div>
    <div class="divbox">
        <span class="t4">Online</span>
        <span class="t6">Survey</span>
    </div>
    <div class="line1"></div>
    <span class="t7">Create your own Survey Form in just one step
        Easy way to Create your own survey forms.
    </span>
</div>
</div>