.semi-circle {
    width: 50%;
    height: 70%;
    border-radius: 50%;
    opacity: 0.5;
    border: 1px solid white;
    margin-top: -200px;
    margin-left: 900px;
    position: static;
    background-color: #54B069;
    animation: GFG 5s infinite linear;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #EDEBF2;
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes GFG {
    0% {
        transform: rotate(0deg) translate(10px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translateY(-20px) rotate(-160deg);
    }
}

.semi-circle1 {
    width: 50%;
    height: 80%;
    border-radius: 70%;
    border: 1px solid white;
    margin-top: -26px;
    margin-left: -350px;
    opacity: 0.5;
    position: static;
    background-color: #54B069;
    transform: rotate(150deg);
}

.header {
    width: 1299px;
    height: 60px;
    margin-left: 30px;
    margin-top: -730px;
}

.line {
    border: 1px solid black;
    position: relative;
    margin-top: 69px;
}

.t1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 28px;
    color: green;
}

.t2 {
    cursor: pointer;
    position: relative;
    margin-top: -29px;
    margin-left: 1050px;
    font-size: 20px;
    color: #000;
}

.t4 {
    position: absolute;
    margin-top: -361px;
    margin-left: 298px;
    font-size: 112px;
    color: #000;
}

.t6 {
    position: absolute;
    margin-top: -291px;
    margin-left: 308px;
    font-size: 48px;
    color: #000;
}

.icon-1 {
    width: 30px;
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
}

.img-1 {
    width: 400px;
    margin-left: 900px;
    margin-top: 120px;
    background-color: #EDEBF2;
    border-radius: 140px;
}

.line1 {
    border: 1px solid #54B069;
    width: 400px;
    height: 2px;
    background-color: #54B069;
    margin-top: -250px;
    margin-left: 310px;
    box-shadow: 8px 1px 2px darkcyan;
}

.t7 {
    position: absolute;
    margin-top: 19px;
    margin-left: 300px;
    width: 490px;
    height: 100px;
    text-align: left;
    line-height: 26px;
    text-align: justify;
    font-weight: lighter;
    font-size: 28px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    animation: typing 2s steps(80),
        cursor .4s step-start infinite alternate;
}

@keyframes cursor {
    100% {
        border-color: transparent;
        opacity: .7;
        color: #54B069;
    }
}

@keyframes typing {
    from {
        animation-timing-function: linear;
        width: 10px;
        opacity: 1;
        color: black;
    }
}

.btn3 {
    width: 88px;
    height: 36px;
    position: absolute;
    margin-top: 2px;
    margin-left: 1108px;
    font-size: 17px;
    color: black;
    cursor: pointer;
}

.img-11 {
    margin-top: 3px;
    margin-left: 1093px;
    width: 12px;
    position: absolute;
}

.divbox {
    margin-top: 70px;
}

@media screen and (max-width:600px) {

    .icon-1 {
        width: 26px;
        margin-top: 127px;
        margin-left: -10px;
    }
    .t1 {
        position: absolute;
        margin-top: 132px;
        margin-left: 15px;
        font-size: 25px;
        color: green;
    }
    .btn3 {
        width: 88px;
        height: 36px;
        position: absolute;
        margin-top: 135px;
        margin-left: 508px;
        font-size: 15px;
        color: black;
        cursor: pointer;
    }
    .img-11 {
        margin-top: 135px;
        margin-left: 493px;
        width: 12px;
        position: absolute;
    }
    .t4 {
        position: absolute;
        margin-top: -305px;
        margin-left: 210px;
        font-size: 66px;
        color: #000;
    }
    
    .t6 {
        position: absolute;
        margin-top: -260px;
        margin-left: 216px;
        font-size: 39px;
        color: #000;
    }
    .line1 {
        border: 1px solid #54B069;
        width: 260px;
        height: 2px;
        background-color: #54B069;
        margin-top: -228px;
        margin-left: 210px;
        box-shadow: 8px 1px 2px darkcyan;
    }
    .semi-circle1 {
        width: 55%;
        height: 60%;
        margin-top: 80px;
        margin-left: -74px;
        opacity: 0.5;
    }
    .t7 {
        margin-top: 19px;
        margin-left: 240px;
        width: 300px;
        height: 100px;
        text-align: left;
        line-height: 20px;
        text-align: justify;
        font-weight: lighter;
        font-size: 22px;
        color: #000;
        font-family: 'Open Sans', sans-serif;
    }
}