.semi-circle{
    width: 50%;
    height: 70%;
    border-radius: 50%;
    opacity: 0.5;
    border: 1px solid white;
    margin-top: -190px;
    margin-left: 900px;
    position: static;
    background-color: #54B069;
    animation: GFG 5s infinite linear;
}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#EDEBF2;
    overflow-x: hidden;
}
@keyframes GFG {
    0% {
        transform: rotate(0deg) 
              translate(10px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) 
              translateY(-20px) rotate(-160deg);
    }
}
.semi-circle1{
    width: 50%;
    height: 80%;
    border-radius: 70%;
    border: 1px solid white;
    margin-top: -20px;
    margin-left: -360px;
    opacity: 0.5;
    position: relative;
    background-color: #54B069;
    transform: rotate(150deg);
}
.header{
    width: 1299px;
    height: 60px;
    margin-left: 30px;
    margin-top: -730px;
}
.line{
    position: relative;
    margin-top: 49px;
}
.t1{
    margin-top: 39px;
    margin-left: 30px;
    font-size: 28px;
    color:green;
}
.t2{
    margin-top: -29px;
    margin-left: 850px;
    font-size: 20px;
    color: #000;
}
.t3{
    margin-top: -31px;
    margin-left: 928px;
    font-size: 20px;
    color: #000;
}
.t4{
    position: absolute;
    margin-top: -381px;
    margin-left: 298px;
    font-size: 112px;
    color: #000;
}
.t6{
    position: absolute;
    margin-top: -311px;
    margin-left: 308px;
    font-size: 48px;
    color: #000;
}
.icon-1{
    position: absolute;
    margin-top: -1px;
}
.btn1{
    border: 1px solid #54B069;
    position: absolute;
    width: 130px;
    height: 40px;
    margin-top: -43px;
    margin-left: 1008px;
    font-size: 20px;
    color: white;
    font-size: 25px;
    background-color: #54B069;
    cursor: pointer;
    border-radius: 33px;
}
.btn1:hover{
    opacity: 0.8;
}
.img-1{
    width: 400px;
    margin-left: 900px;
    margin-top: 120px;
    background-color:#EDEBF2;
    border-radius: 140px;
}
.line1{
    border: 1px solid #54B069;
    width: 400px;
    height: 2px;
    background-color: #54B069;
    margin-top: -250px;
    margin-left: 310px;
    box-shadow: 8px 1px 2px darkcyan;
}
.t7{
    position: absolute;
    margin-top: 19px;
    margin-left: 308px;
    width: 490px;
    height: 100px;
    text-align: left;
    line-height: 26px;
    text-align: justify;
    font-weight: lighter;
    font-size: 28px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    animation: typing 2s steps(80),
    cursor .4s step-start  infinite alternate ;
}
@keyframes cursor{
    100%{
        border-color: transparent;
        opacity: .7;
        color: #54B069;
    }
}
@keyframes typing{
    from{
        animation-timing-function: linear;
        width: 10px;
        opacity: 1;
        color: black;
    }
}
.btn2{
    border: 1px solid #54B069;
    position: absolute;
    width: 180px;
    height: 50px;
    margin-top: 163px;
    margin-left: 328px;
    font-size: 20px;
    color: white;
    font-size: 25px;
    background-color: darkgreen;
    cursor: pointer;
    border-radius: 33px;
}
.btn2:hover{
    opacity: 0.8;
}
.w{
    border: 1px solid white;
    width: 100%;
    height: 2%;
    background-color: white;
    margin-top: 500px;
}
.box2{
    position:absolute;
    border: 1px solid EDEBF2;
    width: 100% ;
    height: 80%;
    margin-top: 40px;
}
.t8{
    position: absolute;
    margin-top: 29px;
    margin-left:89px;
    font-size: 48px;
    color: #000;
}
.line2{
    border: 1px solid #54B069;
    width: 400px;
    height: 2px;
    background-color: black;
    margin-top: 80px;
    margin-left: 50px;
    position: absolute;
    box-shadow: 8px 1px 2px darkcyan;
}
.f1{
    border: 1px solid black;
    width: 0px;
    height: 300px;
}
.b1{
    position:absolute;
    border: 1px solid lightgray;
    width: 230px;
    height: 200px;
    margin-top: 130px;
    margin-left: 80px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 1s;
}
.b1:hover{
    box-shadow: 2px 2px 2px green;
    transform: scale(1.2);
    border-radius: 0;
    z-index: 1;
}
.b2{
    position:absolute;
    border: 1px solid lightgray;
    width: 230px;
    height: 200px;
    margin-top: 130px;
    margin-left: 380px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 1s;
}
.b2:hover{
    box-shadow: 2px 2px 2px green;
    transform: scale(1.2);
    border-radius: 0;
    z-index: 1;
}
.wd-3{
    float: left;
    border: 1px soldi black;
    width: 230px;
    margin-top: 12px;
    margin-left: 19px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.wd-4{
    float: left;
    border: 1px soldi black;
    width: 230px;
    margin-top: 22px;
    margin-left: 19px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
.img-2{
    width: 55px;
    margin-top: 20px;
    margin-left: 85px;
}