<div class="">
<h1 mat-dialog-title class="u1">User</h1>
<h1 mat-dialog-title class="u2">Pro</h1>
<h1 mat-dialog-title class="u3">Options</h1>
</div>
<div class="content">pro and cons for General user</div>
<!--
<div mat-dialog-actions>
  <button mat-button >Register</button>
  <button mat-button mat-dialog-close>Close</button>
</div>
-->
<div class="box">
  <div class="divide"></div>
  <div class="leftpart"> 
    <h1 class="lt1">General User</h1>
    <mat-icon class="icon">check</mat-icon><span class="text1">Can access to the form</span>
    <mat-icon class="icon">check</mat-icon><span class="text1">Can see the form</span>
    <mat-icon class="icon">check</mat-icon><span class="text1">Can share the form</span>
  </div>
  <div class="rightpart">
    <h1 class="rt1">Admin </h1>
    <mat-icon class="icon1">close</mat-icon><span class="text2">Can not access to the responses to the user</span>
    <mat-icon class="icon1">close</mat-icon><span class="text2">Can not create the form</span>
    <mat-icon class="icon1">close</mat-icon><span class="text2">Can not edit the form</span>
    <mat-icon class="icon1">close</mat-icon><span class="text2">Can not create a survey test</span>
    <mat-icon class="icon1">close</mat-icon><span class="text2">Can not add questions</span>
    <mat-icon class="icon">check</mat-icon><span class="text3">Register to use the Pro version of Online Survey</span>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="btn1" (click)="prorequest()">Request Access</button>
    <button mat-button mat-dialog-close class="btn2">Close</button>
  </div>
</div>