<div class="nav">
    <div class="shade1">
        <img src="assets/images/pageicon.png" class="img">
        <span class="wd-1">SurveyForms</span>
        <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <mat-icon class="icon1">home</mat-icon>
        <span class="test1" (click)="homepage()">Menu</span>
        <button class="btn33">sign out</button>
        <img src="assets/images/signoutlogo.png" class="img-11">
    </div>
</div>
<div class="sidenav">
    <div class="b1">
        <span class="b1-op" (click)="titleoption()">Build</span>
        <img src="assets/images/build.png" class="imgs">
        <input type="checkbox" id="dropdown" />
        <label for="dropdown" class="dropdown-btn">
            <span class="arrow"></span>
        </label>
        <ul class="dropdown-content" role="menu">
            <li>
                <div class="b11">
                    <span class="b1-op1">Multiple Choice</span>
                    <mat-icon class="imgs1">list</mat-icon>
                </div>
            </li>
            <div class="gaps"></div>
            <li>
                <div class="b12">
                    <span class="b1-op1">checkbox</span>
                    <mat-icon class="imgs1">check_box</mat-icon>        
                </div>
            </li>
            <div class="gaps"></div>
            <li>
                <div class="b13">
                    <span class="b1-op1">Single text</span>
                    <mat-icon class="imgs1">crop_7_5</mat-icon>
                </div>
            </li>
            <div class="gaps"></div>
            <li>
                <div class="b14">
                    <span class="b1-op1">Comment Box</span>
                    <mat-icon class="imgs1">chat_bubble_outline</mat-icon>
                </div>
            </li>
          </ul>  
    </div>
    <div class="b2">
        <span class="b1-op" (click)="saved()">Saved Forms</span>
        <img src="assets/images/build.png" class="imgs">
        <input type="checkbox" id="dropdown" />
        <label for="dropdown" class="dropdown-btn">
            <span class="arrow"></span>
        </label>
        <ul class="dropdown-content" role="menu">
            <li>
                <div class="b11">
                    <span class="b1-op1">Multiple Choice</span>
                    <mat-icon class="imgs1">list</mat-icon>
                </div>
            </li>
            <div class="gaps"></div>
            <li>
                <div class="b12">
                    <span class="b1-op1">checkbox</span>
                    <mat-icon class="imgs1">check_box</mat-icon>        
                </div>
            </li>
            <div class="gaps"></div>
            <li>
                <div class="b13">
                    <span class="b1-op1">Single text</span>
                    <mat-icon class="imgs1">crop_7_5</mat-icon>
                </div>
            </li>
            <div class="gaps"></div>
            <li>
                <div class="b14">
                    <span class="b1-op1">Comment Box</span>
                    <mat-icon class="imgs1">chat_bubble_outline</mat-icon>
                </div>
            </li>
          </ul>  
    </div>

</div>
<div class="box1">

</div>
<router-outlet></router-outlet>