<p class="nav" ng-init="init()">
    <mat-toolbar class="shade1">
        <mat-icon>insert_drive_file</mat-icon>
        <span class="wd-1">SurveyForms</span>
        <!--wd-1 = word1 it is the titile of the forms-->
        <span class="wd-2" routerLink="/homepage">Home</span>
        <!--wd-1 = word1 its is the link page tothe first page home page -->
        <span class="wd-2" routerLink="/template-form">Back</span>
        <span class="example-spacer"></span>
        <button class="wd-3" (click)="sheet()" target="_blank">GoogleSheet
            Response</button>
        <span class="example-spacer"></span>
    </mat-toolbar>
</p>
<div class="bg">
    <div class="container1">
        <mat-spinner mode="indeterminate" value="" class="spinner"></mat-spinner>
        <span class="t3">Timmer</span>
        <br>
        <span class="t4">Your Assisment End in </span>
        <br>
        <b>{{getformatedtime()}}</b><br>
        <span class="t5">Form auto submitted after that</span>
    </div>
    <div class="top">
        <img src="assets/images/frame1.jpg" class="img-1">
    </div>
    <div class="line"></div>
    <div class="fp1" @fade>
        <h3 class="hd1">Angular</h3>
        <h5 class="hd2">Survey Form</h5>
    </div>
    <div class="b1" @fade>
        <div class="inside">
            <form [formGroup]="forms" novalidate (ngSubmit)="onSubmit(forms.value)">
                <div class="box1">
                    <span class="text-1">Enter Your First Name : </span>
                    <input type="text" class="input-1" formControlName="fname"><br>
                    <div *ngIf="f['fname'].invalid && f['fname'].touched "
                        class="alert">
                        <div
                            *ngIf="f['fname'].errors && f['fname'].errors['required']"
                            class="alerts">
                            <span>*First Name is required</span>
                        </div>
                        <div
                            *ngIf="f['fname'].errors && f['fname'].errors['pattern']"
                            class="alert1">
                            <span>*only alphabet pattern </span>
                        </div>
                    </div>
                </div>
                <div class="box1">
                    <span class="text-1">Enter Your Last Name: </span>
                    <input type="text" class="input-1" formControlName="lname"><br>
                    <div *ngIf="f['lname'].invalid && f['lname'].touched"
                        class="alert">
                        <div
                            *ngIf="f['lname'].errors && f['lname'].errors['required']"
                            class="alerts">
                            <span>*last Name is required</span>
                        </div>
                        <div
                            *ngIf="f['lname'].errors && f['lname'].errors['pattern']"
                            class="alert1">
                            <span>*only alphabet pattern </span>
                        </div>
                    </div>
                </div>
                <div class="box1">
                    <span class="text-1">Enter Your Email Id: </span>
                    <input type="text" class="input-1" formControlName="email"><br>
                    <div *ngIf="f['email'].invalid && f['email'].touched"
                        class="alert">
                        <div
                            *ngIf="f['email'].errors && f['email'].errors['required']"
                            class="alerts">
                            <span>*email is required</span>
                        </div>
                    </div>
                </div>
                <div class="box1">
                    <span class="text-1">Enter Your Phone Number: </span>
                    <input type="text" class="input-1" formControlName="phone"
                        maxlength="10"><br>
                    <div *ngIf="f['phone'].invalid && f['phone'].touched"
                        class="alert">
                        <div
                            *ngIf="f['phone'].errors && f['phone'].errors['required']"
                            class="alerts">
                            <span>*10 digit phone number required</span>
                        </div>
                        <div
                            *ngIf="f['phone'].errors && f['phone'].errors['pattern']"
                            class="alert1">
                            <span>*only number pattern </span>
                        </div>
                    </div>
                </div>
                <div class="box1">
                    <span class="text-1">Enter The Name of the Text you are
                        giving: </span>
                    <input type="text" class="input-1" formControlName="test"><br>
                    <div *ngIf="f['test'].invalid && f['test'].touched"
                        class="alert">
                        <div
                            *ngIf="f['test'].errors && f['test'].errors['required']"
                            class="alerts">
                            <span>*test Name is required</span>
                        </div>
                        <div
                            *ngIf="f['test'].errors && f['test'].errors['pattern']"
                            class="alert1">
                            <span>*only alphabet pattern </span>
                        </div>
                    </div>
                </div>
                <div class="b2">
                    <div class="container">
                        <div class="box2">
                            <span class="rb1">1. Do AngularJS provide reusable
                                components? </span><br>
                            <div class="radiop">
                                <input id="op1" type="radio" value="yes"
                                    formControlName="op1" class="rdesign1"
                                    name="op1" />
                                <label for="op1" class="option1">Yes</label>
                                <input id="op1" type="radio" value="no"
                                    formControlName="op1" class="rdesign2"
                                    name="op1" />
                                <label for="op1" class="option2">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="box2">
                            <span class="rb1">2. Is AngularJS completely based
                                on HTML and JavaScript? </span><br>
                            <div class="radiop">
                                <input id="op2" type="radio" value="yes"
                                    formControlName="op2" class="rdesign1"
                                    name="op2" />
                                <label for="op2" class="option1">Yes</label>
                                <input id="op2" type="radio" value="no"
                                    formControlName="op2" class="rdesign2"
                                    name="op2" />
                                <label for="op2" class="option1">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="box2">
                            <span class="rb1">3. In AngularJS, the $http service
                                is used to make an Ajax
                                call to the server.</span><br>
                            <div class="radiop">
                                <input id="op3" type="radio" value="yes"
                                    formControlName="op3" class="rdesign1"
                                    name="op3" />
                                <label for="op3" class="option1">Yes</label>

                                <input id="op3" type="radio" value="no"
                                    formControlName="op3" class="rdesign2"
                                    name="op3" />
                                <label for="op3" class="option1">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="box2">
                            <span class="rb1">4. AngularJS application
                                expressions are pure JavaScript
                                expressions. </span><br>
                            <div class="radiop">

                                <input id="op4" type="radio" value="yes"
                                    formControlName="op4" class="rdesign1"
                                    name="op4" />
                                <label for="op4" class="option1">Yes</label>

                                <input id="op4" type="radio" value="no"
                                    formControlName="op4" class="rdesign2"
                                    name="op4" />
                                <label for="op4" class="option1">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="box2">
                            <span class="rb1">5. AngularJS support two-way data
                                binding.</span><br>
                            <div class="radiop">

                                <input id="op5" type="radio" value="yes"
                                    formControlName="op5" class="rdesign1"
                                    name="op5" />
                                <label for="op5" class="option1">Yes</label>

                                <input id="op5" type="radio" value="no"
                                    formControlName="op5" class="rdesign2"
                                    name="op5" />
                                <label for="op5" class="option1">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="box2">
                            <span class="rb1">6. Is AngularJS and Angular is
                                Same</span><br>
                            <div class="radiop">

                                <input id="op6" type="radio" value="yes"
                                    formControlName="op6" class="rdesign1"
                                    name="op6" />
                                <label for="op6" class="option1">Yes</label>

                                <input id="op6" type="radio" value="no"
                                    formControlName="op6" class="rdesign2"
                                    name="op6" />
                                <label for="op6" class="option1">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="box2">
                            <span class="rb1">7. Is typeScript is a SuperSet of
                                JavaScript?</span><br>
                            <div class="radiop">

                                <input id="op7" type="radio" value="yes"
                                    formControlName="op7" class="rdesign1"
                                    name="op7" />
                                <label for="op7" class="option1">Yes</label>
                                <input id="op7" type="radio" value="no"
                                    formControlName="op7" class="rdesign2"
                                    name="op7" />
                                <label for="op7" class="option1">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="box2">
                            <span class="rb1">8. Your Feedback about Angular</span><br>
                            <div class="t1">
                                <textarea formControlName="text1" cols="105"
                                    rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="box2">
                            <span class="rb1">9. Your rate about Angular .</span><br>
                            <input type="number" class="t2"
                                formControlName="text2" maxlength="2" min="1"
                                max="10">
                            <div
                                *ngIf="f['text2'].errors && f['text2'].errors['pattern']"
                                class="alert1">
                                <span>*only number pattern </span>
                            </div>
                            <div
                                *ngIf="f['text2'].errors && f['text2'].errors['max']"
                                class="alert1">
                                <span>*enter number between 1 to 10 only </span>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="box2">
                            <span class="rb1">10. What You know about Angular</span><br>
                            <div class="t1">
                                <textarea formControlName="text3" type="text"
                                    cols="93" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn-1" [disabled]="!forms.valid"
                    >Next</button>
            </form>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
