.head{
    border: 1px solid white;
    position: absolute;
    margin-top: -540px;
    margin-left: 250px;
    width: 1080px;
    height: 50px;
    background-color: white;
}
.ques{
    position: absolute;
    font-size: 17px;
    margin-top: 25px;
    cursor: pointer;
    margin-left: 380px;
}
.ques:hover{
    color: green;
}
.resp{
    position: absolute;
    font-size: 17px;
    margin-top: 25px;
    cursor: pointer;
    margin-left: 470px;
}
.resp:hover{
    color: green;
}