.title{
    /*border: 1px solid black;*/
    width: auto;
    margin-top: 50px;
    margin-left: 2dvi;
}
.wd-1{
    font-size: 27px;
    font-weight: 150px;
    margin-left: 19px;
    font-family: 
    "Helvetica Neue"
    Helvetica
    Arial
    sans-serif;
}
.img-3{
    position: absolute;
    opacity: 0.2;
    width: 99%;
    height: 92%;
    margin-top: -120px;
    margin-left: -20px;
}
.li-1{
    margin-top: 3px;
    margin-left: 24px;
    width: 250px;
}
.block{
    border: 1px solid white ;
    width: 860px;
    height: 350px;
    margin-top: 34px;
    margin-left: 29px;
}
.block-1{
    position: relative;
    background-color: white;
    opacity: 0.9;
    border: 1px solid lightgray;
    width: 520px;
    height: 220px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 39px;
    cursor: pointer;
    transition: 1s ease;
}
.block-1:hover{
    width: 490px;
    box-shadow: 2px 2px 2px 2px green;
    transform: translate(30px);
    border-radius: 0;
    z-index: 2;
}
.block-2{
    position: relative;
    background-color: white;
    opacity: 0.9;
    float: right;
    border: 1px solid lightgray;
    width:520px;
    height: 220px;
    margin-top: -222px;
    margin-right: -235px;
    border-radius: 39px;
    cursor: pointer;
    transition: 1s ease;
}
.block-2:hover{
    width: 490px;
    box-shadow: 2px 2px 2px 2px green;
    transform: translate(30px);
    border-radius: 0;
    z-index: 2;
}
.img-1{
    float: left;
    width: 60px;
    margin-top: 30px;
    margin-left: 20px;
}
.img-2{
    background-color: white;
    float: left;
    width: 55px;
    margin-top: 35px;
    margin-left: 27px;
}
.wd-2{
    float: left;
    font-size: 23px;
    font-weight: 100px;
    margin-top: 120px;
    margin-left: -52px;
    font-family: 
    "Helvetica Neue"
    Helvetica
    Arial
    sans-serif;
}
.wd-3{
    float: left;
    font-size: 17px;
    font-weight: lighter;
    margin-top: 16px;
    margin-left: 29px;
    font-family: 
    "Helvetica Neue"
    Helvetica
    Arial
    sans-serif;
}
