.container {
  height: 70px;
  width: 550px;
  position: absolute;
  margin-top: -530px;
  margin-left: 390px;
}

.head {
  position: absolute;
  margin-top: 9px;
  margin-left: -92px;
  font-size: 25px;
  font-family: 'Public Sans', sans-serif;
  text-decoration:none;
}

#chart-wrapper {
  display: inline-block;
  width: 46%;
  position: absolute;
  margin-top: 30px;
  margin-left: 100px;
}
 
.circlee1{
  border: 1px solid #EDEBF2;
  width: 35px;
  padding-top: 3px;
  padding-left: -1px;
  height: 35px;
  margin-top: -530px;
  margin-left: 260px;
  border-radius: 120px;
  position: absolute;
  background-color: white;
  cursor: pointer;
}
#chart-wrapperq {
  display: inline-block;
  width: 46%;
  margin-top: 100px;
  margin-left: 100px;
}

.head1 {
  position: absolute;
  width: 500px;
  margin-top: -10px;
  margin-left: -80px;
  font-size: 18px;
}

.head2 {
  position: absolute;
  width: 500px;
  margin-top: 10px;
  margin-left: -90px;
  font-size: 18px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.gug {
  position: absolute;
  border: 1px solid white;
  background-color: white;
  width: 310px;
  height: 260px;
  margin-top: -480px;
  margin-left: 302px;
}
.block1 {
  position: absolute;
  border: 1px solid white;
  width: 310px;
  background-color: white;
  height: 260px;
  margin-top: -482px;
  margin-left: 660px;
}

.circle {
  border: 1px solid wheat;
  width: 34px;
  margin-left: 20px;
  height: 10px;
  background-color: rgba(75, 192, 192, 1);
  margin-top: -25px;
}

.cc {
  position: absolute;
  margin-top: -15px;
  margin-left: 83px;
}

.circle1 {
  border: 1px solid wheat;
  width: 34px;
  margin-left: 20px;
  height: 10px;
  background-color: lightgreen;
}

.cc2 {
  position: absolute;
  margin-top: -15px;
  margin-left: 83px;
}
#chart-wrapper1 {
  display: inline-block;
  width: 17%;
  margin-top: 60px;
  margin-left: 590px;
}
