
<div>
  <p>
      <mat-toolbar class="shade1">
          <mat-icon>insert_drive_file</mat-icon>
          <span class="wd-1">SurveyForms</span>
          <!--wd-1 = word1 it is the titile of the forms-->
          <span class="wd-2" routerLink="/homepage">Admin</span>
          <!--wd-1 = word1 its is the link page tothe first page home page -->
          <span class="wd-3" routerLink="/admindashboard/adminhome">Back</span>
          <span class="example-spacer"></span>
      </mat-toolbar>
  </p>
</div>
<div class="container">
  <span class="head">Graphical Analysis</span>
</div>
  <div class="gug">
  <div id="chart-wrapper">
    <span class="head1">General Users Record</span>
    <canvas id="myChart"></canvas>
  </div>
  <div id="chart-wrapperq">
    <!--<span>General Users Record</span>-->
    <canvas id="myChart1"></canvas>
  </div>
  <div class="circle"></div>
  <span class="cc">contact form</span> 
  
  <div class="circle1"></div>
  <span class="cc2">event form</span>  
</div>
<div id="chart-wrapper1">
  <span class="head1">angular Record</span>
  <canvas id="myChart2"  class="chart1"></canvas>
</div>
