.container {
  height: 70px;
  width: 650px;
  margin-top: 30px;
  margin-left: 390px;
}

.head {
  position: absolute;
  margin-top: 20px;
  margin-left: 32px;
  font-size: 65px;
  text-decoration: underline;
}

.example-spacer {
  flex: 1 1 auto;
}

.shade1 {
  background-color: #404040;
  color: white;
  height: 70px;
}

.wd-1 {
  margin-left: 12px;
  font-weight: 100px;
  font-size: 22px;
}

.wd-2 {
  margin-left: 1009px;
  font-weight: lighter;
  font-size: 19px;
  margin-top: 2px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
}

.wd-3 {
  margin-left: -120px;
  font-weight: lighter;
  font-size: 19px;
  margin-top: 2px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
}

#chart-wrapper {
  display: inline-block;
  width: 46%;
  margin-top: 30px;
  margin-left: 100px;
}

#chart-wrapperq {
  display: inline-block;
  width: 46%;
  margin-top: -96px;
  margin-left: 100px;
}

.head1 {
  position: absolute;
  width: 500px;
  margin-top: 10px;
  margin-left: -90px;
  font-size: 18px;
  text-decoration: underline;
}

.gug {
  position: absolute;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 380px;
  height: 320px;
  margin-top: 20px;
  margin-left: 122px;
}

.gug1 {
  position: absolute;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 380px;
  height: 320px;
  margin-top: 20px;
  margin-left: 522px;
}

.circle {
  border: 1px solid wheat;
  width: 34px;
  margin-left: 40px;
  height: 10px;
  background-color: rgba(75, 192, 192, 1);
  margin-top: -10px;
}

.cc {
  position: absolute;
  margin-top: -15px;
  margin-left: 83px;
}

.circle1 {
  border: 1px solid wheat;
  width: 34px;
  margin-left: 40px;
  height: 10px;
  background-color: lightgreen;
}

.cc2 {
  position: absolute;
  margin-top: -15px;
  margin-left: 83px;
}
#chart-wrapper1 {
  display: inline-block;
  width: 17%;
  margin-top: 60px;
  margin-left: 590px;
}
