
<div class="bg">
    <div class="container">
        <form [formGroup]="froms" novalidate (ngSubmit)="onSubmit(froms.value)">
            <span class="lab">Registration Form </span>
            <label class="lab1">Name</label>
            <h6 formControlName="formname"></h6>
            <input type="text" class="t1" formControlName="name"><br>
            <div *ngIf="f['name'].invalid && f['name'].touched "
                class="alert">
                <div
                    *ngIf="f['name'].errors && f['name'].errors['required']"
                    class="alerts">
                    <span>*First Name is required</span>
                </div>
                <div
                    *ngIf="f['name'].errors && f['name'].errors['pattern']"
                    class="alert1">
                    <span>*only alphabet pattern </span>
                </div>
            </div>
            <label class="lab2">Email Id</label>
            <input type="text" class="t2" formControlName="email"><br>
            <div *ngIf="f['email'].invalid && f['email'].touched"
                class="alert2">
                <div
                    *ngIf="f['email'].errors && f['email'].errors['required']"
                    class="alerts2">
                    <span>*email is required</span>
                </div>
                <div
                    *ngIf="f['email'].errors && f['email'].errors['pattern']"
                    class="alerts4">
                    <span>*enter the valid formate ex:-abc@gmail.com</span>
                </div>
            </div>
            <label class="lab3">Date-of-Birth</label>
            <input type="date" class="t3"  formControlName="password">
            <div class="box1">
                <span class="lab4">Phone Number: </span>
                <input type="text" class="t4" formControlName="phone"
                    maxlength="10"><br>
                <div *ngIf="f['phone'].invalid && f['phone'].touched"
                    class="alert5">
                    <div
                        *ngIf="f['phone'].errors && f['phone'].errors['required']"
                        class="alerts5">
                        <span>*10 digit phone number required</span>
                    </div>
                    <div
                        *ngIf="f['phone'].errors && f['phone'].errors['pattern']"
                        class="alert6">
                        <span>*only number pattern </span>
                    </div>
                </div>
            </div>
            <button class="btn-1" [disabled]="!froms.valid">Register</button>
        </form>
    </div>
    <div>
        <img src="assets/images/register.jpg" class="img-1">
    </div>
</div>
