<div class="bg">
    <!--login form  *ngIf="!issignin"-->
    <div>
        <div class="container1">
            <form [formGroup]="Login" novalidate >
                <span class="lab">Login In </span>
                <label class="lab2">Email Id</label>
                <input type="text" class="t2" formControlName="loginemail" #emailin><br>
                <div *ngIf="l['loginemail'].invalid && l['loginemail'].touched" class="alert2">
                    <div *ngIf="l['loginemail'].errors && l['loginemail'].errors['required']" class="alerts2">
                        <span>*email is required</span>
                    </div>
                    <div *ngIf="l['loginemail'].errors && l['loginemail'].errors['pattern']" class="alerts4">
                        <span>*enter the valid formate ex:-abc&commat;gmail.com</span>
                    </div>
                </div>
                <label class="lab3">Password</label><!--loginsubmit(emailin.value,passwordin.value)"-->
                <input type="password" class="t3" formControlName="loginpassword" #passwordin [type]=" showPassword ? 'text' : 'password' ">
                <mat-icon class="btns" matSuffix (click)="showHidePassword()">
                    {{showPassword?'visibility_off':'visibility'}}
                </mat-icon>
            <br>                
            <button class="btn-2" (click)="loginsubmit(Login.value)">Login In</button>
            </form>
        </div>
    </div>
</div>