.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#EDEBF2;
}
.container1{
    position: absolute;
    border: 1px solid #EDEBF2;
    width: 800px;
    height: 450px;
    align-items: center;
    margin-top: 75px;
    margin-left: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login{
    position: absolute;
    margin-left: 20px;
    margin-top: 33px;
    font-size: 16px;
    cursor: pointer;
}
.lab{
    position: absolute;
    margin-top: 29px;
    font-size: 40px;
    margin-left: 300px;
}
.lab2{
    position: absolute;
    margin-top: 105px;
    font-size: 25px;
    margin-left: 102px;
}
.t2{
    position: absolute;
    margin-top: 135px;
    margin-left: 102px;
    width: 520px;
    height: 36px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t2:focus{
    background-color: white;
    font-size: 22px;
}
.lab3{
    position: absolute;
    margin-top: 195px;
    font-size: 25px;
    margin-left: 102px;
}
.t3{
    position: absolute;
    margin-top: 220px;
    margin-left: 102px;
    width: 520px;
    height: 36px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t3:focus{
    background-color: white;
    font-size: 22px;
}
.btn-2{
    border: 1px solid #54B069;
    width: 140px;
    height: 40px;
    margin-top: 270px;
    margin-left: 300px;
    background-color: #54B069;
    color: #EDEBF2;
    font-size: 28px;
    border-radius: 120px;
}
.btn-2:hover{
    opacity: 0.8;
}
.alerts {
    position: absolute;
    color: red;
    margin-top: 130px;
    margin-left: 32px;
    font-size: 19px;
}

.alert1 {
    position: absolute;
    color: red;
    margin-top:130px;
    margin-left: 32px;
    font-size: 19px;
}
.alerts2 {
    position: absolute;
    color: red;
    width: 300px;
    margin-top: 60px;
    margin-left: 102px;
    font-size: 19px;
}

.alert2 {
    width: 190px;
    position: absolute;
    color: red;
    margin-top:100px;
    margin-left: 2px;
    font-size: 19px;
}
.alerts3 {
    position: absolute;
    color: red;
    margin-top: 220px;
    margin-left: 32px;
    font-size: 19px;
    width: 190px;
}
.alerts4 {
    position: absolute;
    color: red;
    margin-top: 60px;
    margin-left: 102px;
    font-size: 19px;
    width: 600px;
}
.alert3 {
    width: 190px;
    position: absolute;
    color: red;
    margin-top:100px;
    margin-left: 2px;
    font-size: 19px;
}
.e1{
    position: absolute;
    width: 550px;
    height: 40px;
    margin-left: 102px;
    font-size: 15px;
    margin-top: 12px;
    font-weight: bold;
}
.e2{
    position: absolute;
    margin-left: 103px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
}
.signup{
    position: absolute;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
    margin-top: 14px;
    margin-left: 240px;
    cursor: pointer;
}