<div class="bg">
    <div>
        <span class="wd-1">General User Details</span>
    </div>
    <button class="circle1" (click)="previouspage()"><mat-icon>arrow_back</mat-icon></button>
    <div class="boxes">
        <mat-list class="list">
            <span class="t2">Id</span>
            <span class="t3">Name</span>
            <span class="t4">Email Id</span>
            <span class="t6">Phone</span>
            <span class="t7">Form Access</span>
        </mat-list>    
    </div>
    <div class="block" >
        <mat-list class="list1" *ngFor="let c of test">
            <span class="t2">{{c.id}}</span>
            <span class="t3">{{c.name}}</span>
            <span class="t3">{{c.names}}</span>
            <span class="t4">{{c.email}}</span>
            <span class="t6">{{c.phone}}</span>
            <span class="t7">{{c.formname}}</span>
            <span class="t7">{{c.formnames}}</span>
        </mat-list>    
    </div>
</div>

<!--

<div class="bg">
    <div class="b1">
        <span class="t1">General Form User Details Here </span>
        <div class="boxes">
            <mat-list class="list">
                <span class="t2">Id</span>
                <span class="t3">Name</span>
                <span class="t4">Email Id</span>
                <span class="t5">Date-Of-Birth</span>                
                <span class="t6">Phone</span>
                <span class="t7">Form Access</span>
            </mat-list>    
        </div>
        <div class="boxes1" >
            <mat-list class="list1" *ngFor="let c of test">
                <span class="t2">{{c.id}}</span>
                <span class="t3">{{c.name}}</span>
                <span class="t3">{{c.names}}</span>
                <span class="t4">{{c.email}}</span>
                <span class="t5">{{c.password}}</span>
                <span class="t6">{{c.phone}}</span>
                <span class="t7">{{c.formname}}</span>
                <span class="t7">{{c.formnames}}</span>
            </mat-list>    
        </div>
    </div>

</div>-->
<router-outlet></router-outlet>