.bg{
    position: absolute;
    width: 77.3%;
    height: 86%;
    margin-top: -10px;
    margin-left: 300px;
    overflow-y: hidden;
    background-color:#EDEBF2;
}
.container{
    position: absolute;
    border: 1px solid #EDEBF2;
    width: 945px;
    height: 500px;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signup{
    position: absolute;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.lab{
    position: absolute;
    margin-top: 29px;
    font-size: 40px;
    margin-left: 320px;
}
.lab1{
    position: absolute;
    margin-top: 100px;
    font-size: 25px;
    margin-left: 132px;
}
.t1{
    position: absolute;
    margin-top: 129px;
    margin-left: 132px;
    width: 520px;
    height: 36px;
    border: 0;/*54B069*/
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t1:focus{
    background-color: white;
    font-size: 22px;
}
.lab2{
    position: absolute;
    margin-top: 180px;
    font-size: 25px;
    margin-left: 132px;
}
.t2{
    position: absolute;
    margin-top: 205px;
    margin-left: 132px;
    width: 520px;
    height: 36px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t2:focus{
    background-color: white;
    font-size: 22px;
}
.lab3{
    position: absolute;
    margin-top: 255px;
    font-size: 25px;
    margin-left: 132px;
}
.t3{
    position: absolute;
    margin-top: 280px;
    margin-left: 132px;
    width: 520px;
    height: 30px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t3:focus{
    background-color: white;
    font-size: 22px;
}
.btn-1{
    border: 1px solid #54B069;
    width: 140px;
    height: 40px;
    margin-top: 360px;
    margin-left: 530px;
    background-color: #54B069;
    color: #EDEBF2;
    font-size: 28px;
    border-radius: 120px;
}
.btn-1:hover{
    opacity: 0.8;
}
.alerts {
    position: absolute;
    color: red;
    margin-top: 159px;
    margin-left: 132px;
    font-size: 19px;
}
.alert1 {
    position: absolute;
    color: red;
    margin-top:159px;
    margin-left: 132px;
    font-size: 19px;
}
.alerts2 {
    position: absolute;
    color: red;
    width: 200px;
    margin-top: 129px;
    margin-left: 132px;
    font-size: 19px;
}

.alert2 {
    width: 190px;
    position: absolute;
    color: red;
    margin-top:100px;
    margin-left: 2px;
    font-size: 19px;
}
.alerts3 {
    position: absolute;
    color: red;
    margin-top: 220px;
    margin-left: 132px;
    font-size: 19px;
    width: 190px;
}
.alerts4 {
    position: absolute;
    color: red;
    margin-top: 128px;
    margin-left: 132px;
    font-size: 19px;
    width: 700px;
}
.alert3 {
    width: 190px;
    position: absolute;
    color: red;
    margin-top:100px;
    margin-left: 2px;
    font-size: 19px;
}
.icons{
    position: absolute;
    margin-top: 290px;
    margin-left: 620px;
}