.bg{
    position: absolute;
    width: 82%;
    height:510px;
    border-radius: 30px;
    margin-top: -540px;
    margin-left: 230px;
    overflow-y: hidden;
}
.container{
    position: absolute;
    border: 1px solid #EDEBF2;
    width: 945px;
    height: 400px;
    align-items: center;
    margin-top: 80px;
    margin-left: 80px;
    background-color: white;
}
.wd-1 {
    margin-left: 30px;
    font-weight: 100px;
    font-size: 29px;
    margin-top: 23px;
    position: absolute;
    font-family: 'Public Sans', sans-serif;
} 
.signup{
    position: absolute;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.lab{
    position: absolute;
    margin-top: 29px;
    font-size: 40px;
    margin-left: 320px;
}
.lab1{
    position: absolute;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 400px;
}
.t1{
    position: absolute;
    margin-top: 44px;
    margin-left: 402px;
    width: 520px;
    height: 36px;
    border: 0;/*54B069*/
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t1:focus{
    background-color: white;
    font-size: 22px;
}
.lab2{
    position: absolute;
    margin-top: 97px;
    font-size: 25px;
    margin-left: 400px;
}
.t2{
    position: absolute;
    margin-top: 120px;
    margin-left: 400px;
    width: 520px;
    height: 36px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t2:focus{
    background-color: white;
    font-size: 22px;
}
.lab3{
    position: absolute;
    margin-top: 176px;
    font-size: 25px;
    margin-left: 400px;
}
.t3{
    position: absolute;
    margin-top:210px;
    margin-left: 400px;
    width: 520px;
    height: 36px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t3:focus{
    background-color: white;
    font-size: 22px;
}
.btn-1{
    border: 1px solid #54B069;
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin-top: 270px;
    margin-left: 600px;
    background-color: #54B069;
    color: #EDEBF2;
    font-size: 22px;
    border-radius: 120px;
}
.btn-1:hover{
    opacity: 0.8;
}
.alerts {
    position: absolute;
    color: red;
    margin-top: 69px;
    margin-left: 402px;
    font-size: 17px;
}
.alert1 {
    position: absolute;
    color: red;
    margin-top:159px;
    margin-left: 132px;
    font-size: 19px;
}
.alerts2 {
    position: absolute;
    color: red;
    width: 200px;
    margin-top: 129px;
    margin-left: 132px;
    font-size: 19px;
}

.alert2 {
    width: 190px;
    position: absolute;
    color: red;
    margin-top:17px;
    margin-left: 270px;
    font-size: 17px;
}
.alerts3 {
    position: absolute;
    color: red;
    margin-top: 130px;
    margin-left: 402px;
    font-size: 17px;
    width: 190px;
}
.alerts4 {
    position: absolute;
    color: red;
    margin-top: 128px;
    margin-left: 132px;
    font-size: 17px;
    width: 500px;
}
.alert3 {
    width: 190px;
    position: absolute;
    color: red;
    margin-top:120px;
    margin-left: 5px;
    font-size: 17px;
}
.icons{
    position: absolute;
    margin-top: 220px;
    margin-left: 890px;
}
.image{
    position: absolute;
    width: 300px;
    height: 250px;
    margin-left: 30px;
    margin-top: 80px;
}