.bg{
    border: 1px solid #F8F7FA;
    width: 1020px;
    height: 40px;
    position: absolute;
    margin-top: 10px;
    margin-left: 265px;
    font-size: 25px;
    padding-left: 20px;
}
.block1{
    border: 1px solid #F8F7FA;
    width: 1035px;
    height: 420px;
    position: absolute;
    margin-top: 50px;
    margin-left: 270px;
    overflow-x: hidden;
}
.b1{
    position: relative;
    background-color:white;
    position: relative;
    border: 1px solid #EDEBF2;
    width: 85%;
    height: 26%;
    margin-left: 20px;
    display: block;
    margin-top: 12px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.no{
    position: absolute;
    margin-top: 12px;
    width: 100px;
    margin-left: 12px;
    font-size: 19px;
}
.q1{
    position: absolute;
    width: 860px;
    font-size: 17px;
    overflow: hidden;
}
.single{
    border: 1px solid black;
    position: absolute;
    margin-top: 40px;
    width: 600px;
    height: 50px;
    margin-left: 60px;
}
.check{
    width: 300px;
    height: 25px;
    font-size: 20px;
    top: 40px;
    padding-top: 0px;
    float: left;
    left: 60px;
    position: relative;
}
.che{
    border: 1px solid black;
    width: 18px;
    height: 18px;
}
.textare{
    border: 1px solid black;
    width: 500px;
    height: 60px;
    position: absolute;
    margin-top: 40px;
    margin-left: 60px;
}
.a{
    position: absolute;
    margin-left: -11px;
    margin-top: -11px;
}
.btn1{
    cursor: pointer;
    border: 1px solid #EDEBF2;
    position: absolute;
    width:42px;
    overflow-x: hidden;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 19px;
    margin-top: 11px;
    margin-left: 920px;
}
.show{
    cursor: pointer;
    position: relative;
    top: -57px;
    margin-left: 900px;
}
.b{
    border: 1px solid black;
    width: 10px;
    height: 1px;
    position: absolute;
    margin-top: 9px;
}
.res{
    position: relative;
    font-size: 17px;
    cursor: pointer;
    top: -75px;
    margin-left: 470px;
}
.res:hover{
    color: green;
}
@media screen and (max-width:600px) {
    .bg{
        border: 1px solid #F8F7FA;
        width: 530px;
        height: 40px;
        position: absolute;
        margin-top: -210px;
        margin-left: 220px;
        font-size: 17px;
    }
    .block1{
        border: 1px solid #F8F7FA;
        width: 550px;
        height: 320px;
        position: absolute;
        margin-top: -180px;
        margin-left: 35px;
        overflow-x: hidden;
    }
    .show{
        cursor: pointer;
        position: relative;
        top: -88px;
        margin-left: 140px;
    }
    .res{
        position: relative;
        font-size: 15px;
        cursor: pointer;
        top: -75px;
        margin-left: 90px;
    }
    .b1{
        position: relative;
        background-color:white;
        position: relative;
        border: 1px solid #EDEBF2;
        width: 92%;
        height: 30%;
        margin-left: 30px;
        display: block;
        margin-top: 12px;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }
    .single{
        border: 1px solid black;
        position: absolute;
        margin-top: 40px;
        width: 410px;
        height: 40px;
        margin-left: 60px;
    }
    .textare{
        border: 1px solid black;
        width: 410px;
        height: 40px;
        position: absolute;
        margin-top: 40px;
        margin-left: 60px;
    }
    .che{
        border: 1px solid black;
        width: 15px;
        height: 15px;
        font-size: 15px;
    }
    .check{
        width: 280px;
        height: 25px;
        font-size: 20px;
        top: 40px;
        padding-top: 0px;
        float: left;
        left: 60px;
        position: relative;
    }
    .no{
        position: absolute;
        margin-top: 12px;
        width: 100px;
        margin-left: 12px;
        font-size: 15px;
    }
    .q1{
        position: absolute;
        width: 860px;
        font-size: 15px;
        overflow: hidden;
    }
}