<div class="bg">
    <h1 class="title1">{{title}} </h1>  
    <button class="btn">Link</button>
</div>
<div class="block1">
    <div class="b1" *ngFor="let q of questions; let i=index">
        <div>
            <p class="no">&nbsp;Q{{i+1}}.&nbsp;&nbsp;
                <span class="q1">{{q.content}}</span>
                <input type="radio" [value]="q.option1" [name]="i" class="op1">
                <span class="opp1">{{q.option1}}</span>
                <input type="radio" [value]="q.option2" [name]="i" class="op2">
                <span class="opp2">{{q.option2}}</span>
                <input type="radio" [value]="q.option3" [name]="i" class="op3">
                <span class="opp3">{{q.option3}}</span>
                <input type="radio" [value]="q.option4" [name]="i" class="op4">
                <span class="opp4">{{q.option4}}</span>
            </p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>