    
<div class="body">
    <div class="b1">
        <img src="assets/images/profile.jpg" class="img-2">
        <span class="t1" [routerLink]="'/profile'">Profile</span>
    </div>
    <div class="b2">        
        <img src="assets/images/users.png" class="img-2">
        <span class="t1" [routerLink]="'/users'">Users</span>
    </div>
    <div class="b3">
        <img src="assets/images/user.png" class="img-2">
        <span class="t3" [routerLink]="'/guser'">General Users</span>
    </div>
    <div class="b4">
        <img src="assets/images/analysis.jpg" class="img-2">
        <span class="t2" [routerLink]="'/analysis'">Survey Analysis</span>
    </div>
</div>