.example-spacer {
    flex: 1 1 auto;
}
.shade1 {
    background-color: #404040;
    color: white;
    height: 70px;
}
.wd-1 {
    margin-left: 12px;
    font-weight: 100px;
    font-size: 22px;
}
.wd-2 {
    margin-left: 39px;
    font-weight: lighter;
    font-size: 19px;
    margin-top: 2px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}
.bg {
    position: absolute;
    margin-top: -13px;
    width: 1349px;
    height: auto;
    background-color: white;
}
.img-3{
    position: absolute;
    opacity: 0.3;
    width: 100%;
    height: 212%;
}
.bg2 {
    margin-top: 290px;
    width: 100%;
    height: 290px;
    background-color: #EDEBF2;
}
.b1{
    position: relative;
    border: 1px solid lightgray;
    width: 230px;
    height: 200px;
    margin-top: 70px;
    margin-left: 50px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 1s;
}
.b1:hover{
    box-shadow: 2px 2px 2px green;
    transform: scale(1.2);
    border-radius: 0;
    z-index: 1;
}
.b2:hover{
    box-shadow: 2px 2px 2px green;
    transform: scale(1.2);
    border-radius: 0;
    z-index: 1;
}
.img-2{
    width: 55px;
    margin-top: 20px;
    margin-left: 85px;
}
.wd-3{
    float: left;
    border: 1px soldi black;
    width: 230px;
    margin-top: 12px;
    margin-left: 19px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.wd-4{
    float: left;
    border: 1px soldi black;
    width: 230px;
    margin-top: 22px;
    margin-left: 19px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
.b2{
    position: relative;
    float: left;
    border: 1px solid lightgray;
    width: 230px;
    height: 200px;
    margin-top: -202px;
    margin-left: 310px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 1s;
}
.wd-5{
    float: left;
    border: 1px soldi black;
    width: 230px;
    margin-top: 12px;
    margin-left: 19px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;

}