<p>
    <mat-toolbar class="shade1">
        <mat-icon>insert_drive_file</mat-icon>
        <span class="wd-1">SurveyForms</span>
        <!--wd-1 = word1 it is the titile of the forms-->
        <span class="wd-2" routerLink="/homepage">Home</span>
        <!--wd-1 = word1 its is the link page tothe first page home page -->
        <span class="example-spacer"></span>
    </mat-toolbar>
</p>
<div class="bg">
    <img src="assets/images/back.jpg" class="img-3">
<div class="b1" routerLink="/angular-s-form" @fade>
    <div class="logo">
        <img src="assets/images/angular_logo.jpg" class="img-2">
        <span class="wd-3">Angular Survey Form</span>
        <span class="wd-4">click to see the form </span>
    </div> 
</div>
<div class="b2" routerLink="/htcsjs-form" @fade1>
    <div class="logo">
        <img src="assets/images/htcsjs.png" class="img-2">
        <span class="wd-5">Html Css Js Survey Form</span>
        <span class="wd-4">click to see the form </span>
    </div>
</div>
<div>
    <mat-list *ngFor="let c of surveys" class="b3" @fade1>
        <img src="assets/images/htcsjs.png" class="img-2">
        <span class="wd-6">{{c.title}}</span>
        <span class="wd-7">{{c.description}}</span>
    </mat-list>
</div>
</div>
<router-outlet></router-outlet>