.bg{
    border: 1px solid #EDEBF2;
    height:80%;
    width: 77%;
    border-radius: 30px;
    margin-left: 270px;
    margin-top: -530px;
    background-color: white;
    position: absolute;
}
.container{
    border: 1px solid #EDEBF2;
    width: 890px;
    height: 400px;
    margin-top: 65px;
    margin-left: 80px;
    background-color: #EDEBF2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wd-1 {
    margin-left: 62px;
    font-weight: 100px;
    font-size: 29px;
    margin-top: 23px;
    position: absolute;
    font-family: 'Public Sans', sans-serif;
} 
.circle{
    border: 1px solid #EDEBF2;
    width: 27%;
    height: 40%;
    margin-top: 66px;
    margin-left: 90px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header{
    width: 300px;
    height: 30px;
    display: inline-block;
    padding-left:-25px;
    padding-top: 12px;
    font-size: 20px;
    position: absolute;
    margin-top: -379px;
    margin-left: 400px;
    text-decoration: underline;
}
.lb1{
    width: 120px;
    height: 20px;
    display: inline-block;
    position: absolute;
    margin-top: -300px;
    font-size: 20px;
    margin-left: 400px;
    color: gray;
}
.lb2{
    width: 120px;
    height: 20px;
    display: inline-block;
    position: absolute;
    margin-top: -270px;
    font-size: 20px;
    margin-left: 403px;
}
.line{
    border: 1px solid black;
    width: 420px;
    margin-top: -248px;
    background-color: lightgray;
    margin-left: 405px;
    position: absolute;
}
.lb3{
    width: 190px;
    height: 20px;
    display: inline-block;
    position: absolute;
    margin-top: -225px;
    font-size: 20px;
    margin-left: 400px;
    color: gray;
}
.lb4{
    width: 190px;
    height: 20px;
    display: inline-block;
    position: absolute;
    margin-top: -193px;
    font-size: 20px;
    margin-left: 405px;
}
.line3{
    border: 1px solid black;
    width: 420px;
    margin-top: -171px;
    background-color: lightgray;
    margin-left:405px;
    position: absolute;
}
.lb5{
    width: 190px;
    height: 20px;
    display: inline-block;
    position: absolute;
    margin-top: -145px;
    font-size: 20px;
    margin-left: 403px;
    color: gray;
}
.lb6{
    width: 190px;
    height: 20px;
    display: inline-block;
    position: absolute;
    margin-top: -115px;
    font-size: 20px;
    margin-left: 408px;
}
.line2{
    border: 1px solid black;
    width: 420px;
    margin-top: -93px;
    background-color: lightgray;
    margin-left: 409px;
    position: absolute;
}
.lb7{
    width: 120px;
    height: 20px;
    display: inline-block;
    position: absolute;
    margin-top: -67px;
    font-size: 20px;
    margin-left: 405px;
    color: gray;
}
.lb8{
    width: 300px;
    height: 20px;
    display: inline-block;
    position: absolute;
    margin-top: -37px;
    font-size: 20px;
    margin-left: 409px;
}
.line1{
    border: 1px solid black;
    width: 420px;
    margin-top: -16px;
    background-color: lightgray;
    margin-left: 409px;
    position: absolute;
}
.img-2{
    height: 290px;
    width: 253px;
    margin-top: 51px;
}
.change{
    position: absolute;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-left:410px;
    margin-top: -10px;
}
.circle1{
    border: 1px solid #EDEBF2;
    width: 35px;
    padding-top: 3px;
    padding-left: -1px;
    height: 35px;
    margin-top: 19px;
    margin-left: 20px;
    border-radius: 120px;
    position: absolute;
    background-color: white;
    cursor: pointer;
}