.wd-6{
    position: relative;
    float: left;
    border: 1px solidd black;
    width: 200px;
    height: 30px;
    padding-top: -10px;
    margin-top: 9px;
    margin-left: 19px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}
.wd-7{
    float: left;
    position: relative;
    border: 1px solidd black;
    width: 200px;
    height: 50px;
    text-align: justify;
    margin-top: 2px;
    margin-left: 12px;
    padding-left: 8px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
    
}
.list{
    position: relative;
    border: 1px solid lightgray;
    width: 230px;
    height: 200px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 1s;
    display: inline-block;
}
.img-2{
    width: 55px;
    margin-top: 20px;
    margin-left: 88px;
    display: inline-block;
}

.bg {
    position: absolute;
    margin-top: 283px;
    margin-left: -570px;
    width: 1209px;
    background-color: white;
    display: inline-block;
}
.title1{
    position: relative;
    margin-top: 40px;
    margin-left: 550px;
    text-decoration: underline;
    font-size: 29px;
}
.btn1{
    position: relative;
    border: 1px solid #EDEBF2;
    width: 160px;
    background-color: green;
    color: white;
    font-size: 16px;
    height: 40px;
    margin-top: -30px ;
    margin-bottom: auto;
    margin-left: 40px;
    cursor: pointer;
}
.btn{
    position: absolute;
    border: 1px solid #EDEBF2;
    width: 60px;
    background-color: green;
    color: white;
    font-size: 16px;
    height: 30px;
    margin-top: 55px ;
    margin-bottom: auto;
    margin-left: 40px;
    cursor: pointer;
    display: block;
}
.b1{
    position: relative;
    background-color:white;
    position: relative;
    border: 1px solid #EDEBF2;
    width: 80%;
    height: 18%;
    margin-left: 140px;
    display: block;
    margin-top: 12px;
}
.bg{
    margin-top: -12px;
    position: relative;
    background-color: #EDEBF2;
    margin-left: 0px;
    height: 100% ;
    width: 100%;
}
.q1{
    position: absolute;
    width: 200px;
}
.no{
    position: absolute;
    margin-top: 12px;
    width: 100px;
    margin-left: 12px;
}
.op1{
    position: absolute;
    margin-top: 2px;
    display: block;
    margin-left: 42px;
}

.op2{
    position: absolute;
    margin-top: 4px;
    display: block;
    margin-left: 342px;
}

.op3{
    position: absolute;
    margin-top: 32px;
    display: block;
    margin-left: 42px;
}

.op4{
    position: absolute;
    margin-top: 34px;
    display: block;
    margin-left: 342px;
}