<div class="bg">
    <div>
        <span class="wd-1">Profile</span>
    </div>
    <div>
        <div class="circle">
            <img src="assets/images/adminpro.png" class="img-2">
        </div>
        <div class="box" *ngFor="let c of test" >
            <span class="header">Admin Details </span>
            <span class="lb1">Your Name: </span>
            <span class="lb2">{{c.name}}</span>
            <span class="line"></span>
            <span class="lb3">Your Email Id: </span>
            <span class="lb4">{{c.email}}</span>
            <span class="line3"></span>
            <span class="lb5">Your Password: </span>
            <span class="lb6">{{c.password}}</span>
            <span class="line2"></span>
            <span class="lb7">Your Role: </span>
            <span class="lb8">Super Admin</span>
            <span class="line1"></span>
            <span class="change" routerLink="/superadmin/superadminprofile/updatesuperadmin/{{c.id}}">Change Password? </span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>