.container1{
    position: absolute;
    border: 1px solid #EDEBF2;
    width: 600px;
    height: 350px;
    align-items: center;
    margin-top: -349px;
    margin-left: 380px;
    background-color: white;
}
.bg{
    border: 1px solid #EDEBF2;
    height:80%;
    width: 77%;
    border-radius: 30px;
    margin-left: 270px;
    margin-top: -530px;
    background-color: white;
    position: absolute;
} 
.circle{
    border: 1px solid #EDEBF2;
    width: 27%;
    height: 40%;
    margin-top: 66px;
    margin-left: 90px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.img-2{
    height: 290px;
    width: 253px;
    margin-top: 51px;
}
.circle1{
    border: 1px solid #EDEBF2;
    width: 35px;
    padding-top: 3px;
    padding-left: -1px;
    height: 35px;
    margin-top: 19px;
    margin-left: 20px;
    border-radius: 120px;
    position: absolute;
    background-color: white;
    cursor: pointer;
}

.wd-1 {
    margin-left: 62px;
    font-weight: 100px;
    font-size: 29px;
    margin-top: 23px;
    position: absolute;
    font-family: 'Public Sans', sans-serif;
} 
.lab{
    text-decoration: underline;
    position: absolute;
    margin-top: 10px;
    font-size: 23px;
    margin-left: 20px;
}
.lab2{
    position: absolute;
    margin-top: 75px;
    font-size: 25px;
    margin-left: 32px;
}
.lab12{
    position: absolute;
    margin-top: 130px;
    font-size: 25px;
    margin-left: 32px;
}
.t12{
    position: absolute;
    margin-top: 150px;
    margin-left: 32px;
    width: 320px;
    height: 36px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t12:focus{
    background-color: white;
    font-size: 22px;
}
.t2{
    position: absolute;
    margin-top: 95px;
    margin-left: 32px;
    width: 320px;
    height: 36px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t2:focus{
    background-color: white;
    font-size: 22px;
}
.lab3{
    position: absolute;
    margin-top: 190px;
    font-size: 25px;
    margin-left: 32px;
}
.t3{
    position: absolute;
    margin-top: 210px;
    margin-left: 32px;
    width: 320px;
    height: 36px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t3:focus{
    background-color: white;
    font-size: 22px;
}
.btn-2{
    border: 1px solid red;
    width: 100px;
    height: 35px;
    margin-top: 240px;
    margin-left: 495px;
    background-color: red;
    color: #EDEBF2;
    font-size: 20px;
    border-radius: 120px;
    cursor: pointer;
}
.btn-2:hover{
    opacity: 0.8;
}
.btn-1{
    border: 1px solid #54B069;
    width: 140px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: #54B069;
    color: #EDEBF2;
    font-size: 28px;
    border-radius: 120px;
}
.btn-1:hover{
    opacity: 0.8;
}
.img2{
    margin-left: 320px;
    margin-top: 215px;
    width: 25px;
    position: absolute;
}