<div class="bg">
    <div>
        <span class="wd-1">Profile</span>
    </div>
    <button class="circle1" (click)="profilback()"><mat-icon>arrow_back</mat-icon></button>
    <div>
        <div class="circle">
            <img src="assets/images/adminpro.png" class="img-2">
        </div>
        <div class="container1" >
            <form [formGroup]="Login" novalidate (ngSubmit)="savedata(Login.value)">
                <span class="lab">Edit & Update </span>
                <label class="lab2">Name</label>
                <input type="text" class="t2" formControlName="name"><br>
                <label class="lab12">Email Id</label>
                <input type="text" class="t12" formControlName="email"><br>
                <label class="lab3">Password</label>
                <input type="password" class="t3" formControlName="password">
                <img src="assets/images/pencil.png" class="img2">
                <br>
                <button class="btn-2" routerLink="/superadmin/superadminprofile">Cancel</button>
                
            </form>
        </div>
    </div>
</div>