.block1 {
    border: 1px solid white;
    position: absolute;
    width: 620px;
    margin-top: -480px;
    margin-left: 440px;
    height: 120px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.block2{
    border: 1px solid #fff;
    width: 620px;
    border-radius: 12px;
    height: 330px;
    background-color: white;
    position: absolute;
    margin-top: -357px;
    margin-left: 440px;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.b1{
    position: relative;
    background-color:white;
    position: relative;
    border: 1px solid #EDEBF2;
    width: 58%;
    border-radius: 12px;
    height: 66%;
    margin-left: 200px;
    display: block;
    margin-top: 12px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.q1{
    position: absolute;
    margin-top: 12px;
    margin-left: 52px;
    height: 50px;
    font-size: 20px;
    overflow: hidden;
    font-family: 'Hedvig Letters Sans', sans-serif;
}
.no{
    position: absolute;
    margin-top: 12px;
    margin-left: 12px;
    height: 30px;
    font-size: 20px;
}
.blok2{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 560px;
    height: 320px;
    margin-top: 10px;
    margin-left: 33px;
}
.b{
    border: 1px solid white;
    width: 560px;
    height: 60px;
}
.ans1{
    position: absolute;
    margin-top: 35px;
    margin-left: 52px;
    height: 50px;
    font-size: 15px;
    overflow: hidden;
    font-family: 'Hedvig Letters Sans', sans-serif;
}
.ans2{
    position: absolute;
    margin-top: 35px;
    margin-left: 52px;
    height: 50px;
    font-size: 15px;
    overflow: hidden;
    font-family: 'Hedvig Letters Sans', sans-serif;
}
.ans4{ 
    position: absolute;
    margin-top: 35px;
    margin-left: 52px;
    height: 50px;
    font-size: 15px;
    overflow: hidden;
    font-family: 'Hedvig Letters Sans', sans-serif;
}
.re{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 29px;
    font-family: 'Public Sans', sans-serif;
}