<div class="box">
    <span class="t1">Admin List</span>
    <div class="b1">
        <div *ngFor="let c of test"  class="list">
            <div class="circle">
                <img src="assets/images/admin.png" class="img-2">
            </div>
            <span class="tit1">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.name}}</span>
            <span class="tit2">Email Id:&nbsp;&nbsp;{{c.email}}</span>
            <span class="desc">Role:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General Users</span>
        </div>
    </div>
</div>