<div class="bg">
    <div>
        <span class="wd-1">Create Form</span>
    </div>
    <button class="circle1" (click)="previouspage()"><mat-icon>arrow_back</mat-icon></button>
    <div class="container">
        <img src="assets/images/Screenshot_2023-12-15_164200-removebg-preview (1).png" class="image">
        <img src="assets/images/pageicon.png" class="image1">
    </div>
    <form [formGroup]="addes" novalidate (ngSubmit)="formSubmit(addes.value)">
        <div class="b2">
            <label class="tt1">Title</label>
            <input type="text" class="inp1" placeholder="enter title here" formControlName="title" ngModel>
            <label class="t2">Form id</label>
            <input type="text" class="inp2" placeholder="enter survey form id" formControlName="fid" ngModel>
            <label class="t3">Description</label>
            <textarea class="ta" placeholder="Enter test Description" formControlName="description" ngModel></textarea>
        </div>
        <button class="btn">Add Test</button>
    </form>
</div>