.bg{
    background-color: #EDEBF2;
    width: 77.6%;
    height: 88.7%;
    margin-left: 300px;
}
.b1{
    border: 1px solid #EDEBF2;
    width: 800px;
    height: 30px;
    padding-top: 10px;
    padding-left: 12px;
    margin-left: 50px;
    margin-top: -12px;
    background-color: white;
}
.b2{
    border: 1px solid #EDEBF2;
    width: 810px;
    height: 450px;
    margin-left: -12px;
    margin-top: 12px;
    background-color: white;
}
.inp1{
    background-color: #FAF9F6;
    border: 1px solid #EDEBF2;
    width: 98%;
    height: 10%;
    margin-top: 45px;
    margin-left: 8px;
}
.ta{
    background-color: #FAF9F6;
    border: 1px solid #EDEBF2;
    width: 98%;
    height: 55%;
    margin-top: 12px;
    margin-left: 8px;
}
.t2{
    position: absolute;
    margin-top: 109px;
    margin-left: -802px;
    font-size: 20px;
}

.tt1{
    position: absolute;
    margin-top: 19px;
    margin-left: 9px;
    font-size: 20px;
}
.t3{
    margin-top: 29px;
    margin-left: 12px;
    font-size: 20px;
}
.t1{
    font-size: 20px;
    font-weight: lighter;
}
.btn{
    border: 1px solid #EDEBF2;
    width: 100px;
    background-color: green;
    color: white;
    font-size: 16px;
    height: 40px;
    position: absolute;
    margin-top: -50px;
    margin-left: 300px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.6;
}