<!--<div class="box">
    <span class="t1">Authorized User List</span>
    <div class="b1">
        <div *ngFor="let c of test"  class="list">
            <div class="circle">
                <img src="assets/images/admin.png" class="img-2">
            </div>
            <div >
                <button class="circle1" routerLink="/updateuserdetails/{{c.id}}"><mat-icon class="icon2">create</mat-icon></button>
            </div>
            <div>
                <button class="circle2" (click)="deleteadmin(c.id)"><mat-icon class="icon2">delete</mat-icon></button>
            </div>
            <span class="tit1">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.name}}</span>
            <span class="tit2">Email Id:&nbsp;&nbsp;{{c.email}}</span>
            <span class="desc">Role:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Admin</span>
        </div>
    </div>
</div>-->
<div class="block1">
    <span class="wd-1">Users</span>
    <span class="wd-2" [routerLink]="'/superadmin/authorizeduserlist/adminuserlist'">Admin</span>
    <span class="wd-3" [routerLink]="'/superadmin/authorizeduserlist/generaluserlist'">General Users</span>

</div>
<router-outlet></router-outlet>