<div>
    <p>
        <mat-toolbar class="shade1">
            <mat-icon>insert_drive_file</mat-icon>
            <span class="wd-1">SurveyForms</span>
            <!--wd-1 = word1 it is the titile of the forms-->
            <span class="wd-2" routerLink="/homepage">Admin</span>
            <!--wd-1 = word1 its is the link page tothe first page home page -->
            <span class="wd-3" routerLink="/admindashboard/adminhome">Back</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
    </p>
</div>
<div class="bg">
    <div class="b1">
        <span class="t1">User Details Here</span>
        <div class="boxes">
            <mat-list class="list">
                <span class="t2">Id</span>
                <span class="t3">Name</span>
                <span class="t4">Email Id</span>
                <span class="t5">Password</span>
            </mat-list>    
        </div>
        <div class="boxes1" >
            <mat-list class="list1" *ngFor="let c of test">
                <span class="t2">{{c.id}}</span>
                <span class="t3">{{c.name}}</span>
                <span class="t4">{{c.email}}</span>
                <span class="t5">{{c.password}}</span>
                <button routerLink="/update/{{c.id}}" class="btn3" (click)="update(c.id)">Update</button>
                <button class="btn2"(click)="deleted(c.id)">Delete</button>
            </mat-list>    
        </div>
    </div>

</div>