
.example-spacer {
    flex: 1 1 auto;
}
.shade1 {
    background-color: #404040;
    color: white;
    height: 70px;
}
.wd-1 {
    margin-left: 12px;
    font-weight: 100px;
    font-size: 22px;
}
.wd-2 {
    margin-left: 1009px;
    font-weight: lighter;
    font-size: 19px;
    margin-top: 2px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}
.wd-3 {
    margin-left: -120px;
    font-weight: lighter;
    font-size: 19px;
    margin-top: 2px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}
.container1{
    position: absolute;
    border: 1px solid #EDEBF2;
    width: 800px;
    height: 300px;
    align-items: center;
    margin-top: 75px;
    margin-left: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.lab{
    position: absolute;
    margin-top: 29px;
    font-size: 40px;
    margin-left: 260px;
}
.lab2{
    position: absolute;
    margin-top: 105px;
    font-size: 25px;
    margin-left: 32px;
}
.t2{
    position: absolute;
    margin-top: 139px;
    margin-left: 32px;
    width: 320px;
    height: 36px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t2:focus{
    background-color: white;
    font-size: 22px;
}
.lab3{
    position: absolute;
    margin-top: 82px;
    font-size: 25px;
    margin-left: 482px;
}
.t3{
    position: absolute;
    margin-top: 120px;
    margin-left: 462px;
    width: 320px;
    height: 36px;
    border: 0;
    border-bottom: 2px solid #54B069;
    outline: 0;
    background-color: white;
}
.t3:focus{
    background-color: white;
    font-size: 22px;
}
.btn-2{
    border: 1px solid red;
    width: 140px;
    height: 40px;
    margin-top: 200px;
    margin-left: 255px;
    background-color: red;
    color: #EDEBF2;
    font-size: 28px;
    border-radius: 120px;
}
.btn-2:hover{
    opacity: 0.8;
}
.btn-1{
    border: 1px solid #54B069;
    width: 140px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: #54B069;
    color: #EDEBF2;
    font-size: 28px;
    border-radius: 120px;
}
.btn-1:hover{
    opacity: 0.8;
}