
<div>
    <p>
        <mat-toolbar class="shade1">
            <mat-icon>insert_drive_file</mat-icon>
            <span class="wd-1">SurveyForms</span>
            <!--wd-1 = word1 it is the titile of the forms-->
            <span class="wd-2">Admin</span>
            <!--wd-1 = word1 its is the link page tothe first page home page -->
            <span class="wd-3" routerLink="/admindashboard/adminhome">Back</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
    </p>
</div>
<div class="container">
    <div class="body">
        <div>
            <div class="container1" >
                <form [formGroup]="Login" novalidate >
                    <span class="lab">Edit & Update </span>
                    <label class="lab2">Email Id</label>
                    <input type="text" class="t2" formControlName="loginemail"><br>
                    <label class="lab3">Password</label>
                    <input type="password" class="t3" formControlName="loginpassword"> <br>
                    <button class="btn-2"  >save</button>
                </form>
                </div>
        </div>
    </div>
</div>