.example-spacer {
    flex: 1 1 auto;
}
.shade1 {
    background-color: #fff;
    color: white;
    height: 80px;
}
.sidenav{
    border: 1px solid white;
    width: 210px;
    height: 496px;
    position: absolute;
    margin-top: 76px;
    background-color: #FEFEFA;
}
.b1{
    border: 1px solid #FFFFF0;
    width: 210px;
    height: 40px;
    margin-top: 0px;
    position: absolute;
    background-color: #FFFFF0;
    box-shadow: 0 2px 0px 0px #54B069;
}
.imgs{
    width: 20px;
    position: absolute;
    margin-left: 180px;
    margin-top: 10px;
}
.imgs1{
    width: 30px;
    position: absolute;
    margin-left: 170px;
    margin-top: 10px;
}
.b1-op{
    position: absolute;
    margin-top: 12px;
    margin-left: 12px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.b11{
    border: 1px solid #FFFFF0;
    width: 210px;
    height: 40px;
    margin-top: 45px;
    position: absolute;
    background-color: #FFFFF0;
    box-shadow: 0 2px 0px 0px #54B069;
}
.b12{
    border: 1px solid #FFFFF0;
    width: 210px;
    height: 40px;
    margin-top: 90px;
    position: absolute;
    background-color: #FFFFF0;
    box-shadow: 0 2px 0px 0px #54B069;
}
.b13{
    border: 1px solid #FFFFF0;
    width: 210px;
    height: 40px;
    margin-top: 139px;
    position: absolute;
    background-color: #FFFFF0;
    box-shadow: 0 2px 0px 0px #54B069;
}
.b14{
    border: 1px solid #FFFFF0;
    width: 210px;
    height: 40px;
    margin-top: 188px;
    position: absolute;
    background-color: #FFFFF0;
    box-shadow: 0 2px 0px 0px #54B069;
}
.b1-op1{
    position: absolute;
    margin-top: 12px;
    margin-left: 12px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.wd-1 {
    margin-left: 62px;
    font-weight: 100px;
    font-size: 22px;
    margin-top: 25px;
    color: #54B069;
    position: absolute;
    font-family: 'Public Sans', sans-serif;
} 

.img{
    width: 30px;
    position: absolute;
    margin-top: 18px;
    margin-left: 32px;
}
.img-11{
    margin-top: 29px;
    margin-left: 1113px;
    width: 12px;
    position: absolute;
}
.btn33{
    border: 1px solid #fff;
    width: 88px;
    height: 36px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1113px;
    font-size: 17px;
    color: black;
    background-color: #fff;
    cursor: pointer;
}
.btn33:hover{
    opacity: 0.8;
}

.img-11{
    margin-top: 29px;
    margin-left: 1113px;
    width: 12px;
    position: absolute;
}
.bg {
    position: absolute;
    margin-top: -30px;
    width: 100% ;
    height: 100% auto;
    background-color: #EDEBF2;
}
.fm-b {
    border: 1px solid #EDEBF2;
    width: 1014px;
    height: 400px auto;
    margin-left: 185px;
    background-color: #EDEBF2;
}
.hd-b {
    border: 1px solid white;
    width: 99.8%;
    height: 70px;
    margin-top: 2px;
    background-color: #EDEBF2;
}
.input1 {
    border: 1px solid #EDEBF2;
    width: 1200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 29px;
    padding-left: 28px;
    outline: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif; 
}
.input1::placeholder {
    font-size: 28px;
    padding-left: 12px;
}
.input1:focus {
    border: 1px solid #EDEBF2;
}
.ti-1 {
    border: 1px solid #EDEBF2;
    width: 1080px;
    height: 170px;
    margin-left: 43px;
    margin-top: 22px;
    background-color: #fff;
    padding-top: 29px;
    border-radius: 34px;
   
}
.wd-3 {
    font-size: 22px;
    margin-top: 30px;
    margin-left: 29px;
    color: #404040;
    font-family: 'Nunito', sans-serif;
}
.input2 {
    border: 1px solid #EDEBF2;
    width: 800px;
    height: 45px;
    margin-top: 10px;
    margin-left: 29px;
    font-family: 'Nunito', sans-serif;
}
.input2:focus {
    border: 4px solid green;
}
.btn1 {
    border: 1px solid #EDEBF2;
    background-color: white;
    color: black;
    margin-top: 30px;
    margin-left: 600px;
    width: 90px;
    height: 35px;
    font-size: 19px;
    cursor: pointer;
}
.btn2 {
    border: 1px solid #EDEBF2;
    float: left;
    background-color: #64CE7A;
    margin-top: -35px;
    margin-left: 700px;
    width: 90px;
    height: 35px;
    font-size: 19px;
    color: white;
    cursor: pointer;
}
.input-1:hover {
    background-color: lightgray;
}
.btn3 {
    border: 1px solid #EDEBF2;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 21px;
    margin-left: 850px;
    margin-top: 10px;
    cursor: pointer;
}
.input-1 {
    border: 1px solid #EDEBF2;
    width: 900px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 29px;
    padding-left: 28px;
    outline: none;
    cursor: pointer;
}
.fm-b2 {
    border: 1px solid #EDEBF2;
    width: 1131px;
    height: 110px auto;
    margin-left: 215px;
    margin-top: -12px;
    background-color: #EDEBF2;
    padding-top: 29px;
    position: absolute;
}
.input3{
    position: absolute;
    border: 1px solid  #E3DAC9;
    width: 440px;
    height: 40px;
    margin-top: 20px;
    margin-left: 47px;
}
.ch-1{
    position: absolute;
    border: 1px solid  #E3DAC9;
    width: 470px;
    height: 44px;
    margin-top: 20px;
    margin-left: 499px;
    font-size: 18px;
}
.btn5 {
    border: 1px solid lightgray;
    position: relative;
    width: 67px;
    height: 33px;
    font-size: 17px;
    margin-left: 810px;
    margin-top: 100px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
.btn6{
    border: 1px solid white;
    position: absolute;
    width: 67px;
    height: 33px;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 100px ;
    background-color: #64CE7A;
    color: white;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
.btn4 {
    position:relative;
    border: 1px solid white;
    width: 150px;
    height: 45px;
    bottom: 52px;
    margin-top: 150px;
    margin-left: 415px;
    font-size: 20px;
    background-color: #64CE7A;
    color: white;
    cursor: pointer;
}
.btnn4 {
    position: absolute;
    border: 1px solid white;
    width: 160px;
    height: 45px;
    bottom: 53px;
    margin-top: 5px;
    margin-left: 570px;
    font-size: 20px;
    background-color: #64CE7A;
    color: white;
    cursor: pointer;
}
.fm-b3 {
    border: 1px solid white;
    width: 1080px;
    height: 110px auto;
    margin-left: 40px;
    margin-top: 22px;
    background-color: #FEFEFA ;
    padding-top: 9px;
    border-radius: 19px;
}
.option{
    margin-left: 60px;
    margin-top: -60px;
    height: 40px auto;
}
.option1{
    border: 1px solid grey;
    width: 300px;
    height: 35px;
    margin-top: 12px;
    margin-left: 8px;
}
.btn7{
    position: absolute;
    border: 1px solid white;
    border-radius: 190px;
    padding-top: 12px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 259px;
    margin-top:-49px;
}
.minusi{
    position: absolute;
    margin-left: 230px;
    margin-top: -41px;
    border: 1px solid white;
    border-radius: 150px;
    cursor: pointer;
}
.preview{
    width: 120px;
    cursor: pointer;
}
.preview1{
    position: absolute;
    margin-top: 49px;
    margin-left: 1200px;
    font-size: 15px;
}
