.sidenav{
    border: 1px solid black;
    width: 228px;
    height: 530px;
    position: absolute;
    margin-top: 24px;
    background-color: #FEFEFA;
}
.block1{
    border: 1px solid black;
    width: 1110px;
    height: 530px;
    background-color: #EDEBF2;
    opacity: 0.4;
    border-radius: 20px;
    position: absolute;
    margin-left: 250px;
    margin-top: -10px;
}
.b11{
    border: 1px solid #FFFFF0;
    width: 225px;
    height: 40px;
    margin-top: 45px;
    position: absolute;
    }
.b12{
    border: 1px solid #FFFFF0;
    width: 225px;
    height: 40px;
    margin-top: 90px;
    position: absolute;
    background-color: #FFFFF0;
    box-shadow: 0 2px 0px 0px #54B069;
}
.b13{
    border: 1px solid #FFFFF0;
    width: 225px;
    height: 40px;
    margin-top: 139px;
    position: absolute;
    background-color: #FFFFF0;
    box-shadow: 0 2px 0px 0px #54B069;
}
.b14{
    border: 1px solid #FFFFF0;
    width: 225px;
    height: 40px;
    margin-top: 188px;
    position: absolute;
    background-color: #FFFFF0;
    box-shadow: 0 2px 0px 0px #54B069;
}
.bg {
    position: absolute;
    margin-top: -30px;
    width: 100% ;
    height: 100% auto;
    background-color: #EDEBF2;
}
.input1 {
    border: 1px solid #EDEBF2;
    width: 1200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 29px;
    padding-left: 28px;
    outline: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif; 
}
.input1::placeholder {
    font-size: 28px;
    padding-left: 12px;
}
.input1:focus {
    border: 1px solid #EDEBF2;
}
.input-1:hover {
    background-color: lightgray;
}
.btn3 {
    border: 1px solid #EDEBF2;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 21px;
    margin-left: 850px;
    margin-top: 10px;
    cursor: pointer;
}
.input-1 {
    border: 1px solid #EDEBF2;
    width: 900px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 29px;
    padding-left: 28px;
    outline: none;
    cursor: pointer;
}
.ch-1{
    position: absolute;
    border: 1px solid  #E3DAC9;
    width: 470px;
    height: 44px;
    margin-top: 20px;
    margin-left: 499px;
    font-size: 18px;
}
.btn5 {
    border: 1px solid lightgray;
    position: relative;
    width: 67px;
    height: 33px;
    font-size: 17px;
    margin-left: 810px;
    margin-top: 100px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
.btn6{
    border: 1px solid white;
    position: absolute;
    width: 67px;
    height: 33px;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 100px ;
    background-color: #64CE7A;
    color: white;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
.btn4 {
    position:relative;
    border: 1px solid white;
    width: 150px;
    height: 45px;
    bottom: 52px;
    margin-top: 150px;
    margin-left: 415px;
    font-size: 20px;
    background-color: #64CE7A;
    color: white;
    cursor: pointer;
}
.btnn4 {
    position: absolute;
    border: 1px solid white;
    width: 160px;
    height: 45px;
    bottom: 53px;
    margin-top: 5px;
    margin-left: 570px;
    font-size: 20px;
    background-color: #64CE7A;
    color: white;
    cursor: pointer;
}
.fm-b3 {
    border: 1px solid white;
    width: 1080px;
    height: 110px auto;
    margin-left: 40px;
    margin-top: 22px;
    background-color: #FEFEFA ;
    padding-top: 9px;
    border-radius: 19px;
}
.option{
    margin-left: 60px;
    margin-top: -60px;
    height: 40px auto;
}
.option1{
    border: 1px solid grey;
    width: 300px;
    height: 35px;
    margin-top: 12px;
    margin-left: 8px;
}
.btn7{
    position: absolute;
    border: 1px solid white;
    border-radius: 190px;
    padding-top: 12px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 259px;
    margin-top:-49px;
}
.minusi{
    position: absolute;
    margin-left: 230px;
    margin-top: -41px;
    border: 1px solid white;
    border-radius: 150px;
    cursor: pointer;
}
.preview{
    width: 120px;
    cursor: pointer;
}
.preview1{
    position: absolute;
    margin-top: 49px;
    margin-left: 1200px;
    font-size: 15px;
}