.example-spacer {
    flex: 1 1 auto;
}
.shade1 {
    background-color: #404040;
    color: white;
    height: 50px;
}
.wd-1 {
    margin-left: 12px;
    font-weight: 100px;
    font-size: 22px;
}
.wd-2 {
    margin-left: 39px;
    font-weight: lighter;
    font-size: 19px;
    margin-top: 2px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}
.bg {
    position: absolute;
    margin-top: -13px;
    width: 1366px;
    height: 600px auto;
    background-color: #EDEBF2;
}
.hd-b {
    border: 1px solid white;
    width: 1363px;
    height: 70px;
    margin-top: 2px;
    background-color: white;
}
.input1 {
    border: 1px solid #EDEBF2;
    width: 1200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 29px;
    padding-left: 28px;
    outline: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif; 
}
.input1::placeholder {
    font-size: 28px;
    padding-left: 12px;
}
.input1:focus {
    border: 1px solid #EDEBF2;
}
.fm-b {
    border: 1px solid #EDEBF2;
    width: 1014px;
    height: 400px auto;
    margin-left: 125px;
}
.ti-1 {
    border: 1px solid #EDEBF2;
    width: 880px;
    height: 170px;
    margin-left: 60px;
    margin-top: 22px;
    background-color: whitesmoke;
    padding-top: 29px;
    border-radius: 34px;
   
}
.wd-3 {
    font-size: 22px;
    margin-top: 30px;
    margin-left: 29px;
    color: #404040;
    font-family: 'Nunito', sans-serif;
}
.input2 {
    border: 1px solid #EDEBF2;
    width: 800px;
    height: 45px;
    margin-top: 10px;
    margin-left: 29px;
    font-family: 'Nunito', sans-serif;
}
.input2:focus {
    border: 4px solid green;
}
.btn1 {
    border: 1px solid #EDEBF2;
    background-color: white;
    color: black;
    margin-top: 30px;
    margin-left: 600px;
    width: 90px;
    height: 35px;
    font-size: 19px;
    cursor: pointer;
}
.btn2 {
    border: 1px solid #EDEBF2;
    float: left;
    background-color: #64CE7A;
    margin-top: -35px;
    margin-left: 700px;
    width: 90px;
    height: 35px;
    font-size: 19px;
    color: white;
    cursor: pointer;
}
.input-1:hover {
    background-color: lightgray;
}
.btn3 {
    border: 1px solid #EDEBF2;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 21px;
    margin-left: 850px;
    margin-top: 10px;
    cursor: pointer;
}
.input-1 {
    border: 1px solid #EDEBF2;
    width: 900px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 29px;
    padding-left: 28px;
    outline: none;
    cursor: pointer;
}
.fm-b2 {
    border: 1px solid #EDEBF2;
    width: 880px;
    height: 110px auto;
    margin-left: 165px;
    margin-top: 2px;
    background-color: #EDEBF2;
    padding-top: 29px;
    border-radius: 24px;
}
.input3{
    position: absolute;
    border: 1px solid  #E3DAC9;
    width: 370px;
    height: 40px;
    margin-top: 20px;
    margin-left: 27px;
}
.ch-1{
    position: absolute;
    border: 1px solid  #E3DAC9;
    width: 340px;
    height: 44px;
    margin-top: 20px;
    margin-left: 419px;
    font-size: 18px;
}
.btn5 {
    border: 1px solid lightgray;
    position: relative;
    width: 90px;
    height: 40px;
    font-size: 21px;
    margin-left: 530px;
    margin-top: 100px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
}
.btn6{
    border: 1px solid white;
    position: absolute;
    width: 90px;
    height: 40px;
    font-size: 21px;
    margin-left: 20px;
    margin-top: 100px ;
    background-color: #64CE7A;
    color: white;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
}
.btn4 {
    border: 1px solid white;
    width: 150px;
    height: 45px;
    margin-top: 100px;
    margin-left: 250px;
    font-size: 20px;
    background-color: #64CE7A;
    color: white;
}
.btnn4 {
    position: absolute;
    border: 1px solid white;
    width: 160px;
    height: 45px;
    margin-top: -45px;
    margin-left: 400px;
    font-size: 20px;
    background-color: #64CE7A;
    color: white;
}
.fm-b3 {
    border: 1px solid white;
    width: 780px;
    height: 110px auto;
    margin-left: 40px;
    margin-top: 22px;
    background-color: #FEFEFA ;
    padding-top: 9px;
    border-radius: 19px;
}
.option{
    margin-left: 60px;
    margin-top: -60px;
    height: 40px auto;
}
.option1{
    border: 1px solid grey;
    width: 300px;
    height: 35px;
    margin-top: 12px;
    margin-left: 8px;
}
.btn7{
    position: absolute;
    border: 1px solid white;
    border-radius: 190px;
    padding-top: 12px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 259px;
    margin-top:-49px;
}
.minusi{
    position: absolute;
    margin-left: 230px;
    margin-top: -41px;
    border: 1px solid white;
    border-radius: 150px;
    cursor: pointer;
}
.preview{
    width: 120px;
    cursor: pointer;
}
.preview1{
    position: absolute;
    margin-top: 49px;
    margin-left: 1200px;
    font-size: 15px;
}
