.bg{
    border: 1px solid #EDEBF2;
    height:80%;
    width: 77%;
    border-radius: 30px;
    margin-left: 270px;
    margin-top: -530px;
    background-color: white;
    position: absolute;
}
.wd {
    margin-left: 10px;
    font-weight: 100px;
    font-size: 18px;
    margin-top: 3px;
    position: absolute;
    text-decoration: underline;
} 
.wd-2 {
    margin-left: 29px;
    font-weight: 100px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 56px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
} 
.wd-3 {
    font-family: 'Roboto', sans-serif;
    margin-left: 165px;
    font-weight: 100px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 56px;
    position: absolute;
}  
.wd-4 {
    font-family: 'Roboto', sans-serif;
    margin-left: 327px;
    font-weight: 100px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 56px;
    position: absolute;
}  
.circle1{
    border: 1px solid #EDEBF2;
    width: 35px;
    padding-top: 3px;
    padding-left: -1px;
    height: 35px;
    margin-top: 19px;
    margin-left: 20px;
    border-radius: 120px;
    position: absolute;
    background-color: white;
    cursor: pointer;
}
.b1{
    border: 1px solid #EDEBF2;
    width: 1200px;
    height: 50px;
    padding-top: 50px;
    padding-left: 12px;
    margin-left: 80px;
    margin-top: 30px;
    background-color: white;
}
.t1{
    margin-top: -30px;
    margin-left: 480px;
    font-size: 30px;
}
.list{
    position: relative;
}
.boxes{
    position: absolute;
    border: 1px solid white;
    width: 940px;
    height: 55px;
    margin-top: 85px;
    margin-left: 50px;
    background-color: white;
}
.t2{
    position: absolute;
    width: 70px;
    margin-left: 30px;
    margin-top: 25px;
    font-size: 22px;
}
.t3{
    position: absolute;
    width: 100px;
    margin-top: 25px;
    margin-left: 130px;
    font-size: 22px;
}
.t4{
    position: absolute;
    width: 160px;
    margin-top: 25px;
    margin-left: 330px;
    font-size: 22px;
}
.t5{
    position: absolute;
    width: 170px;
    margin-top: 25px;
    margin-left: 640px;
    font-size: 22px;
}
.block{
    border: 1px solid #EDEBF2;
    position: absolute;
    width: 940px;
    height: 335px;
    overflow-x: hidden;
    margin-top: 142px;
    margin-left: 50px;
}
.boxes1{
    position: relative;
    border: 1px solid white;
    width: 1212px;
    height: auto;
    bottom: 30px;
    margin-top: 122px;
    margin-left: -13px;
    background-color: white;
}
.list1{
    height: 40px;
    margin-top: 2px;
}
.btn2{
    position: absolute;
    margin-top: 15px;
    margin-left: 860px;
    height: 33px;
    border: 1px solid white;
    cursor: pointer;
    width: 40px;
    font-size: 20px;
    padding-top: 3px;
    background-color: red;
    color: white;
}
.btn2:hover{
    opacity: 0.5;
}
.img-2{
    width: 25px;
    color: white;
}
.btn3{
    margin-top: 15px;
    margin-left: 810px;
    height: 33px;
    border: 1px solid white;
    cursor: pointer;
    position: absolute;
    width: 40px;
    font-size: 20px;
    background-color: #54B069;
    color: white;
}
.btn3:hover{
    opacity: 0.5;
}
.btn4{
    cursor: pointer;
    border: 1px solid white;
    width: 70px;
    color: white;
    background-color: orange;
    margin-top: 16px;
    position: absolute;
    height: 30px;
    margin-left: 900px;
}