<div class="nav">
    <div class="shade1">
        <img src="assets/images/pageicon.png" class="img">
        <span class="wd-1">SurveyForms</span>
        <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <button class="btn3" (click)="logout()">sign out</button>
        <img src="assets/images/signoutlogo.png" class="img-11">
        <!--<input type="checkbox" id="dropdown" />
            <label for="dropdown" class="dropdown-btn">
              <span class="arrow"></span>
            </label>
            <ul class="dropdown-content" role="menu">
              <li><span class="profile">User</span></li>
              <div class="gaps"></div>
              <li><span class="profile">Admin</span></li>
              <div class="gaps"></div>
              <li><span class="profile">Super admin</span></li>
            </ul>-->
    </div>
</div>

<div class="side-nav">
    <button class="btn" (click)="atest()">
        <img src="assets/images/add.png" class="logo">New
    </button>
    <div class="inside-sidenav">
        <div class="box1" (click)="adminhome()">
        <mat-icon class="icon1">dashboard</mat-icon>
        <span class="test1">Home</span>
        </div>
        <div class="box2" (click)="aallt()">
            <mat-icon class="icon1">list</mat-icon>
            <span class="test1">My Forms</span>
        </div>
        <div class="box3">
            <img src="assets/images/users.png" class="icon2">
            <span class="test1" (click)="cuser()">Users</span>
        </div>
        <div class="box4">
            <img src="assets/images/userrequest.png" class="req">
            <span class="test1" (click)="requests()">New User</span>
        </div>
    </div>
</div>
<div class="block1">
</div>
<router-outlet></router-outlet>
