.example-spacer {
    flex: 1 1 auto;
}

.shade1 {
    background-color: #404040;
    color: white;
    height: 70px;
}

.wd-1 {
    margin-left: 12px;
    font-weight: 100px;
    font-size: 22px;
}

.wd-2 {
    margin-left: 1009px;
    font-weight: lighter;
    font-size: 19px;
    margin-top: 2px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}

.side-nav {
    position: absolute;
    float: left;
    border: 1px solid white;
    width: 260px;
    height: 100%;
    margin-top: -11px;
    background-color: white;
    border-radius: 19px;
}

.bg {
    float: left;
    border: 1px solid black;
    width: 77.6%;
    height: 88.9%;
    margin-top: -15px;
    margin-left: 300px;
}

.profile {
    border: 1px solid black;
    width: 50%;
    height: 25%;
    margin-top: 33px;
    margin-left: 40px;
    border-radius: 250px;
}

.menus {
    border: 1px solid white;
    width: 82%;
    height: 63%;
    margin-left: 22px;
    margin-top: 20px;
}

.p1 {
    margin-top: 20px;
    margin-left: 29px;
    font-size: 25px;
}

.p1:hover {
    text-decoration: underline;
    color: green;
    font-size: 30px;
    cursor: pointer;
}

.line {
    margin-top: 22px;
    margin-left: 6px;
    position: absolute;
    border: 1px solid green;
    height: 40%;
    width: 0;
}

.icn {
    margin-left: -3px;
}

.dropdown {
    height: 10px;
    margin-left: 700;
    position: absolute;
    width: 10%;
    margin-top: -42px;
}

.dropdown-btn {
    background: green;
    font-size: 18px;
    width: 13%;
    height: 10px;
    margin-top: -23px;
    margin-left: 1130px;
    border: none;
    color: #fff;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.dropdown-content {
    list-style: none;
    top: 1.5em;
    position: relative;
    width: 500px;
    height: 400px;
    margin-left: 680px;
    visibility: hidden;
    border-radius: 12px;
    transform: translateY(1em);
    transition: transform ease 0.3s;
    color: black;
    z-index: 2;
    background-color: #404040;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list {
    height: 130px;
    margin-top: 17px;
    margin-left: 5px;
    border: 1px solid #EDEBF2;
    padding-left: 10px;
    border-radius: 20px;
    width: 460px;
    background-color: white;
    line-height: 26px;
    text-align: justify;
}

.tit1 {
    position: absolute;
    margin-top: 0px;
}

.email1 {
    position: absolute;
    margin-top: 20px;
    color: black;
}

.desc {
    position: absolute;
    margin-top: 43px;
}

.desc1 {
    position: absolute;
    margin-top: 4px;
}

.msg{
    height: 60px;
    width: 450px;
    position: absolute;
    margin-top: 66px;
    margin-left:0px;
    overflow: hidden;
    white-space:initial;

}
input[type="checkbox"]:checked~.dropdown-content {
    visibility: visible;
    transform: translateY(0);
}

.name {
    position: absolute;
    color: white;
    width: 500px;
    margin-left: 42px;
    font-size: 19px;
    margin-top: 42px;
}

.email {
    position: absolute;
    color: white;
    width: 500px;
    margin-left: 42px;
    font-size: 19px;
    margin-top: 60px;
}