
.img{
    width: 30px;
    position: absolute;
    margin-top: 18px;
    margin-left: 32px;
}

.shade1 {
    background-color: #fff;
    color: white;
    height: 80px;
}

.wd-1 {
    margin-left: 62px;
    font-weight: 100px;
    font-size: 22px;
    margin-top: 25px;
    color: #54B069;
    position: absolute;
    font-family: 'Public Sans', sans-serif;
} 
.btn3{
    border: 1px solid #fff;
    width: 88px;
    height: 36px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1113px;
    font-size: 17px;
    color: black;
    background-color: #fff;
    cursor: pointer;
}
.btn3:hover{
    opacity: 0.8;
}

.img-11{
    margin-top: 29px;
    margin-left: 1113px;
    width: 12px;
    position: absolute;
}

.side-nav{
    border: 1px solid white;
    width: 250px;
    height: 520px;
}
.block1{
    border: 1px solid #EDEBF2;
    width: 1096px;
    height: 525px;
    overflow-x:hidden ;
    margin-left: 241px;
    position: absolute;
    margin-top: -543px;
    background-color: #EDEBF2;
    opacity: 0.4;
    border-radius: 20px;
}
.btn{
    border: 1px solid white;
    width: 100px;
    height: 50px;
    background-color: white;
    font-size: 15px;
    padding-top: 4px;
    padding-left: 45px;
    margin-left: 39px;
    position: absolute;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.logo{
    margin-top: -5px;
    margin-left: -37px;
    width: 25px;
    position: absolute;
}
.inside-sidenav{
    border: 1px solid white;
    width: 250px;
    height: 440px;
    position: absolute;
    margin-top: 50px;
}
.box1{
    border: 1px solid white;
    width: 240px;
    position: absolute;
    height: 30px;
    margin-top: 22px;
    margin-left: 32px;
    border-radius: 120px;
    cursor: pointer;
}
.box1:hover{
    background-color: #d1ccde;
    width: 190px;
    height: 30px;

}
.box2{
    border: 1px solid white;
    width: 240px;
    position: absolute;
    height: 30px;
    margin-top: 58px;
    margin-left: 32px;
    border-radius: 120px;
    cursor: pointer;
}
.box2:hover{
    background-color: #d1ccde;
    width: 190px;
    height: 30px;

}
.box3{
    border: 1px solid white;
    width: 240px;
    position: absolute;
    height: 30px;
    margin-top: 93px;
    margin-left: 32px;
    border-radius: 120px;
    cursor: pointer;
}
.box3:hover{
    background-color: #d1ccde;
    width: 190px;
    height: 30px;

}
.test1{
    position: absolute;
    color: black;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 66px;    
    cursor: pointer;
}
.icon1{
    position: absolute;
    width: 80px;
    margin-top:3px;
    margin-left:25px;
    color: black;
}
.icon2{
    position: absolute;
    width: 25px;
    margin-top: 3px;
    margin-left: 25px;
}
.test2{
    position: absolute;
    color: black;
    font-size: 15px;
    margin-top: 28px;
    margin-left: 1023px;    
    cursor: pointer;
}
.icon3{
    position: absolute;
    width: 80px;
    margin-top: 23px;
    margin-left: 1000px;
    color: black;
}