<div class="nav">
    <div class="shade1">
        <img src="assets/images/pageicon.png" class="img">
        <span class="wd-1">SurveyForms</span>
        <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <mat-icon class="icon3" >home</mat-icon>
        <span class="test2" (click)="mainpage()">home</span>
        <button class="btn3" (click)="logout()">sign out</button>
        <img src="assets/images/signoutlogo.png" class="img-11">
        <!--<input type="checkbox" id="dropdown" />
            <label for="dropdown" class="dropdown-btn">
              <span class="arrow"></span>
            </label>
            <ul class="dropdown-content" role="menu">
              <li><span class="profile">User</span></li>
              <div class="gaps"></div>
              <li><span class="profile">Admin</span></li>
              <div class="gaps"></div>
              <li><span class="profile">Super admin</span></li>
            </ul>-->
    </div>
</div>
<div class="side-nav">
    <button class="btn" (click)="createform()"><img src="assets/images/add.png" class="logo">New</button>
    <div class="inside-sidenav">
        <div class="box1">
        <mat-icon class="icon1">dashboard</mat-icon>
        <span class="test1" (click)="homepage()">Home</span>
        </div>
        <div class="box2">
            <mat-icon class="icon1">list</mat-icon>
            <span class="test1" (click)="myforms()">My Forms</span>
        </div>
        <div class="box3">
            <img src="assets/images/template.png" class="icon2">
            <span class="test1" (click)="templatefroms()">Template Forms</span>
        </div>
    </div>
</div>
<div class="block1">
</div>
<router-outlet></router-outlet>