.example-spacer {
    flex: 1 1 auto;
}
.shade1 {
    background-color: #404040;
    color: white;
    height: 34px;
    margin-top: 520px;
}
.t1{
    margin-left: 600px;
    margin-right: 10px;
    font-weight: lighter;
    font-size: 15px;
}
.t2{
    margin-right: 10px;
    font-weight: lighter;
    font-size: 15px;
    cursor: pointer;
}