<div>
    <span class="wd-1">Template Forms </span>
</div>
<div class="bg">
    <div class="b1">
        <div *ngFor="let c of templatef" class="list" >
            <span class="tit1">course id: </span>
            <span class="t1" >{{c.fid}}</span>
            <span class="tit">Title: </span>
            <span class="t2">{{c.title}}</span>
            <span class="desc">Description: </span>
            <span class="t3">{{c.description}}</span>
            <button class="btn1" [routerLink]="'/listsurveyhome/viewadminsavedforms/'+c.id+'/'+c.title">
                <mat-icon>visibility</mat-icon>
            </button>
        </div>
    </div>
</div>