.bg{
    border: 1px solid #EDEBF2;
    width: 1070px;
    height:520px;
    position: absolute;
    margin-top: -530px;
    margin-left: 250px;
    border-radius: 30px;
    
}
.wd-1{
    position: absolute;
    font-size: 29px;
    color:black;
    font-family: 'Hedvig Letters Sans', sans-serif;
    margin-top: -520px;
    margin-left: 260px;
}
.b1{
    border: 1px solid #F8F7FA;
    width: 988px;
    height: 380px;
    padding-top: -10px;
    padding-left: 12px;
    overflow-x: hidden;
    margin-left: 30px;
    border-radius: 20px;
    margin-top: 69px;
    background-color: white;
}
.tit{
    position: absolute;
    font-size: 20px;
    margin-top: 8px;
    margin-left:2px;
    text-align: left;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: lighter;
}
.t2{
    position: absolute;
    font-size: 17px;
    margin-top: 8px;
    margin-left:59px;
    text-align: left;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: lighter;
}
.desc{
    position: absolute;
    margin-top: 53px;
    font-size: 20px;
    margin-left: 2px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: lighter;
}
.t3{
    position: absolute;
    margin-top: 53px;
    font-size: 17px;
    margin-left: 122px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: lighter;
}
.tit1{
    position: absolute;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: lighter;
    margin-left: 2px;
}
.t1{
    position: absolute;
    margin-top: 30px;
    font-size: 17px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: lighter;
    margin-left: 102px;
}
.list{
    position:relative;
    width: 890px;
    height: 90px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #fff;
    padding-left: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}
.btn{
    border: 1px solid #EDEBF2;
    width: 100px;
    background-color: green;
    color: white;
    font-size: 16px;
    height: 40px;
    position: absolute;
    margin-top: -65px ;
    margin-bottom: auto;
    margin-left: 740px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.6;
}
.btn1{
    border: 1px solid #EDEBF2;
    width: 50px;
    background-color: orange;
    color: white;
    font-size: 16px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    margin-top: 25px ;
    margin-left:810px;
    cursor: pointer;
}
.btn2{
    border-radius: 10px;
    padding-left: -10px;
    padding-top: 4px;
    border: 1px solid #EDEBF2;
    width: 50px;
    background-color: red;
    color: white;
    font-size: 15px;
    height: 35px;
    position: absolute;
    margin-top: 45px ;
    margin-left: 810px;
    cursor: pointer;
}
.img{
    margin-top: -1px;
    position: absolute;
    width: 15px;
    color: black;
}
.img1{
    position: absolute;
    width: 20px;
    margin-left: -19px;
    margin-top: -17px;
}
