.example-spacer {
    flex: 1 1 auto;
}

.shade1 {
    background-color: #404040;
    color: white;
    height: 80px;
}

.wd-1 {
    margin-left: 12px;
    font-weight: 100px;
    font-size: 22px;
    margin-top: 36px;
    position: absolute;
}

.icon {
    margin-top: 32px;
    margin-left: 32px;
}

.wd-2 {
    margin-left: 39px;
    font-weight: lighter;
    font-size: 19px;
    margin-top: 2px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}

.wd-3 {
    margin-left: 9px;
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
    height: 40px;
    border-radius: 12px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    color: black;
    width: 220px;
}

.dropdown {
    height: 10px;
    margin-left: 1100;
    position: absolute;
    width: 10%;
    margin-top: -42px;
}

.dropdown-btn {
    background: green;
    font-size: 18px;
    width: 80%;
    height: 20px;
    margin-left: 1150px;
    border: none;
    color: #fff;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.btn {
    border: 1px solid #FFF5EE;
    width: 120px;
    height: 30px;
    background-color: #FFF5EE;
    margin-top: 3px;
    margin-left: 28px;
    color: red;
    cursor: pointer;
    font-size: 19px;
}

.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
}

.dropdown-content {
    list-style: none;
    top: 3em;
    position: relative;
    width: 190px;
    height: 100px;
    margin-left: 1100px;
    visibility: hidden;
    transform: translateY(1em);
    transition: transform ease 0.3s;
    color: black;
    z-index: 2;
    /* Set a higher z-index */

}

.profile {
    margin-top: 12px;
    position: absolute;
    margin-left: 18px;
    font-size: 18px;
    text-decoration: underline;
}

input[type="checkbox"]:checked~.dropdown-content {
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content li {
    background: #FFF5EE;
    height: 50px;
}

input[type="checkbox"]:checked+label>.arrow {
    transform: rotate(180deg);
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

input[type="checkbox"]:focus+label {
    box-shadow: 0 0 20px rgb(83, 83, 83);
}

.dropdown-content li:hover {
    background: #FFF5EE;
}
.box1{
    border: 1px solid black;
    width: 250px;
    height: 400px;
    position: absolute;
    margin-top: 50px;
    margin-left: 80px;
}

.side-nav {
    position: absolute;
    float: left;
    border: 1px solid white;
    width: 290px;
    height: 70%;
    margin-left: 40px;
    margin-top: 20px;
    background-color: white;
    overflow-y: scroll;
    border-radius: 19px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg {
    float: left;
    border: 1px solid black;
    width: 77.6%;
    height: 88.9%;
    margin-top: -15px;
    margin-left: 300px;
}

.profile {
    border: 1px solid black;
    width: 50%;
    height: 25%;
    margin-top: 33px;
    margin-left: 40px;
    border-radius: 250px;
}

.menus {
    border: 1px solid white;
    width: 82%;
    height: 63%;
    margin-left: 22px;
    margin-top: 20px;
}

.p1 {
    margin-top: 15px;
    margin-left: 29px;
    font-size: 25px;
}

.p1:hover {
    text-decoration: underline;
    color: green;
    font-size: 30px;
    cursor: pointer;
}

.line {
    margin-top: 22px;
    margin-left: 6px;
    position: absolute;
    border: 1px solid green;
    height: 40%;
    width: 0;
}
