<div class="box">
    <div>
        <form [formGroup]="froms" novalidate (ngSubmit)="send(froms.value)">
            <span class="title">Admin Register Form</span>
            <span class="t1">Enter Name :</span>
            <input class="inp1" type="text" formControlName="name">
            <span class="t2">Enter Email Id :</span>
            <input class="inp2" type="text" formControlName="email">
            <Span class="t3">Enter Phone Number :</Span>
            <input class="inp3" type="text" formControlName="number" maxlength="10">
            <Span class="t5">Enter password :</Span>
            <input class="inp4" type="text" formControlName="password" maxlength="10">
            <span class="t4">List of Permission is Provided</span>
            <div class="list">
                <li>Can See the List Of General User.</li>
                <li>Can Create the General User Authorized User.</li>
                <li>Can Edit , delete the General User.</li>
            </div>
            <button class="btn1">Create</button>
        </form>
    </div>
</div>
<router-outlet></router-outlet>