.bg{
    position: absolute;
    width: 82%;
    height:510px;
    border-radius: 30px;
    margin-top: -540px;
    margin-left: 230px;
    overflow-y: hidden;
}
 
.circle1{
    border: 1px solid #EDEBF2;
    width: 35px;
    padding-top: 3px;
    padding-left: -1px;
    height: 35px;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 120px;
    position: absolute;
    background-color: white;
    cursor: pointer;
}
.b2{
    border: 1px solid #EDEBF2;
    position: absolute;
    width: 530px;
    border-radius: 30px;
    margin-left: 460px;
    margin-top: 80px;
    height: 400px;
}
.container{
    position: absolute;
    border: 1px solid #EDEBF2;
    width: 945px;
    height: 430px;
    align-items: center;
    margin-top: 60px;
    margin-left: 80px;
    background-color: white;
}
.wd-1 {
    margin-left: 60px;
    font-weight: 100px;
    font-size: 29px;
    margin-top: 23px;
    position: absolute;
    font-family: 'Public Sans', sans-serif;
} 
.inp1{
    background-color: #FAF9F6;
    border: 1px solid #EDEBF2;
    width: 85%;
    height: 10%;
    margin-top: 55px;
    margin-left: 23px;
} 
.inp2{
    background-color: #FAF9F6;
    border: 1px solid #EDEBF2;
    width: 85%;
    height: 10%;
    margin-top: 45px;
    margin-left: 23px;
} 
.inp3{
    background-color: #FAF9F6;
    border: 1px solid #EDEBF2;
    width: 85%;
    height: 10%;
    margin-top: 45px;
    margin-left: 23px;
} 
.inp4{
    background-color: #FAF9F6;
    border: 1px solid #EDEBF2;
    width: 85%;
    height: 10%;
    margin-top: 36px;
    margin-left: 23px;
}
.image{
    position: absolute;
    width: 340px;
    height: 250px;
    margin-left: 30px;
    margin-top: 80px;
}
.image1{
    background-color: white;
    margin-left: 93px;
    position: absolute;
    margin-top: 119px;
    width: 30px;
}
.ta{
    background-color: #FAF9F6;
    border: 1px solid #EDEBF2;
    width: 85%;
    height: 25%;
    margin-top: 40px;
    margin-left: 19px;
}
.t1{
    margin-left: 24px;
    font-size: 20px;
    margin-top: 20px;
    position: absolute;
}
.t2{
    position: absolute;
    margin-top: 109px;
    margin-left: -456px;
    font-size: 20px;
}
.t5{
    position: absolute;
    margin-top: 95px;
    margin-left: -456px;
    font-size: 20px;
}

.tt1{
    position: absolute;
    margin-top: 33px;
    margin-left: 19px;
    font-size: 26px;
}
.t3{
    position: absolute;
    margin-top: 97px;
    margin-left: -457px;
    font-size: 20px;
}
.btn1{
    border: 1px solid #EDEBF2;
    width: 80px;
    background-color: green;
    color: white;
    font-size: 15px;
    height: 35px;
    position: absolute;
    margin-top: 445px;
    margin-left: 660px;
    cursor: pointer;
}
.btn1:hover{
    opacity: 0.6;
}