.bg{
    background-color: #EDEBF2;
    width: 77.6%;
    height: 88.7%;
    margin-left: 300px;
}
.b1{
    border: 1px solid #EDEBF2;
    width: 800px;
    height: 50px;
    padding-top: 50px;
    padding-left: 12px;
    margin-left: 50px;
    margin-top: -12px;
    background-color: white;
}
.t1{
    font-size: 20px;
    font-weight: lighter;
}
.desc{
    margin-top: -20px;
}
.tit{
    margin-top: -7px;
    margin-left: -16px;
}
.list{
    height: 90px;
    margin-top: 7px;
    margin-left: -13px;
    border: 1px solid #EDEBF2;
    padding-left: 10px;
    background-color: white;
}
.btn{
    border: 1px solid #EDEBF2;
    width: 100px;
    background-color: green;
    color: white;
    font-size: 16px;
    height: 40px;
    position: absolute;
    margin-top: -65px ;
    margin-bottom: auto;
    margin-left: 740px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.6;
}
.btn1{
    border: 1px solid #EDEBF2;
    width: 200px auto; 
    background-color: orange;
    opacity: 0.9;
    color: white;
    font-size: 16px;
    height: 30px;
    position: relative;
    margin-top: -10px;
    margin-left: 10px;
    cursor: pointer;
}