<div class="nav" ng-init="init()">
    <div class="shade1">
        <mat-icon class="icon">insert_drive_file</mat-icon>
        <span class="wd-1">SurveyForms</span>
        <!--wd-1 = word1 it is the titile of the forms-->
        <span class="example-spacer"></span>
       <!-- <button class="wd-3" (click)="sheet()" target="_blank">GoogleSheet
            Response</button>-->
        <span class="example-spacer"></span>
    </div>
</div>
<div class="box2">
    <div>
        <div class="b1" routerLink="/demof1" @fade>
            <div class="logo">
                <img src="assets/images/contact.png" class="img-2">
                <span class="wd-3">Contact Form</span>
                <span class="wd-4">click to see the form </span>
            </div> 
        </div>
        <div class="b2" routerLink="/event" @fade>
            <div class="logo">
                <img src="assets/images/contact.png" class="img-2">
                <span class="wd-3">Event Form</span>
                <span class="wd-4">click to see the form </span>
            </div> 
        </div>
    </div>
</div>