.box2{
    position:relative;
    width: 100% ;
    height: 90%;
    margin-top: -20px;
    overflow: hidden;
    background-color: #EDEBF2;
}
.img{
    width: 30px;
    position: absolute;
    margin-top: 18px;
    margin-left: 32px;
}

.t1{
    position: absolute;
    margin-top: 80px;
    font-size: 40px;
    margin-left: 55px;
    font-family: 'Public Sans', sans-serif;
}
.t8{
    position: absolute;
    margin-top: 29px;
    margin-left:89px;
    font-size: 48px;
    color: #000;
}
.line2{
    border: 1px solid #54B069;
    width: 400px;
    height: 2px;
    background-color: black;
    margin-top: 80px;
    margin-left: 50px;
    position: absolute;
    box-shadow: 8px 1px 2px darkcyan;
}
.f1{
    border: 1px solid black;
    width: 0px;
    height: 300px;
}
.b1{
    position:absolute;
    border: 1px solid lightgray;
    width: 230px;
    height: 185px;
    margin-top: 160px;
    margin-left: 80px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 1s;
    background-color: white;
}
/*.b1:hover{
    box-shadow: 2px 2px 2px green;
    transform: scale(1.2);
    border-radius: 0;
    z-index: 1;
}*/
.b2{
    background-color: white;
    position:absolute;
    border: 1px solid lightgray;
    width: 230px;
    height: 185px;
    margin-top: 160px;
    margin-left: 380px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 1s;
}/*
.b2:hover{
    box-shadow: 2px 2px 2px green;
    transform: scale(1.2);
    border-radius: 0;
    z-index: 1;
}*/
.wd-33{
    float: left;
    border: 1px soldi black;
    width: 230px;
    margin-top: 12px;
    margin-left: 55px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.wd-4{
    float: left;
    border: 1px soldi black;
    width: 230px;
    margin-top: 22px;
    margin-left: 19px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
.img-2{
    width: 55px;
    margin-top: 20px;
    margin-left: 85px;
}
.example-spacer {
    flex: 1 1 auto;
}

.shade1 {
    background-color: #fff;
    color: white;
    height: 80px;
}
.wd-1 {
    margin-left: 62px;
    font-weight: 100px;
    font-size: 22px;
    margin-top: 25px;
    color: #54B069;
    position: absolute;
    font-family: 'Public Sans', sans-serif;
}
.icon{
    margin-top: 32px;
    margin-left: 32px;
}
.wd-2 {
    margin-left: 39px;
    font-weight: lighter;
    font-size: 19px;
    margin-top: 2px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}

.wd-3 {
    margin-left: 9px;
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
    height: 40px;
    border-radius: 12px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    color: black;
    width: 220px;
}
.img-1{
    width: 390px;
    height:300px;
    margin-top: 60px;
    margin-left: 100px;
    position: absolute;
}
.outer{
    width: 38%;
    height: 70%;
    margin-top: 80px ;
    margin-left: 760px;
    position: absolute;
    border-radius: 40rem 15rem 15rem 12rem;
    background-color: #54B069;
}
.chat{
    border: 1px solid black;
    width: 140px;
    height: 100px;
    margin-top: 20px;
    margin-left:1190px;
}
.iconinfo{
    margin-top: 480px;
    height: 40px;
    width:40px;
    margin-left:1250px;
    border-radius: 120px;
    cursor:pointer;
}
.chatbots{
    cursor: pointer;
    position: absolute;
    margin-top: 420px;
    height: 40px;
    width:40px;
    margin-left:-48px;
    border-radius: 10px;
}
.icon2{
    position: absolute;
    margin-top: -32px;
    margin-left: 1260px;
}
.dropdown-btn {
    border: 1px solid black;
    font-size: 18px;
    width: 18px;
    height: 19px;
    margin-top: -7px;
    margin-left: 1170px;
    border: none;
    color: black;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}
.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    transition: transform ease-in-out 0.3s;
}
.dropdown-content {
    list-style: none;
    top: 1.5em;
    position: relative;
    width: 140px;
    height: 10px;
    margin-left: 1100px;
    visibility: hidden;
    transform: translateY(1em);
    transition: transform ease 0.3s;
    color: black;
    z-index: 2; /* Set a higher z-index */

} 
input[type="checkbox"]:checked ~ .dropdown-content {
    visibility: visible;
    transform: translateY(0);
}
.gaps{
    width: 130px;
    height: 2px;
    color: white;
}
.dropdown-content li {
    background:#54B069;
    color: white;
    height: 38px;
    width: 130px;
}
  
input[type="checkbox"]:checked + label > .arrow {
    transform: rotate(180deg);
}  
input[type="checkbox"] {
    opacity: 0;
}
.dropdown-content li:hover {
    opacity: 0.4;
}
.profile{
    font-size: 16px;
    margin-left: 10px;
    margin-top:10px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.btn2{
    border: 1px solid #d7e4da;
    width: 88px;
    height: 36px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1008px;
    font-size: 17px;
    color: black;
    background-color: rgb(237, 248, 237);
    cursor: pointer;
}
.btn2:hover{
    opacity: 0.8;
} 
.btn3{
    border: 1px solid #fff;
    width: 88px;
    height: 36px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1108px;
    font-size: 17px;
    color: black;
    background-color: #fff;
    cursor: pointer;
}
.btn3:hover{
    opacity: 0.8;
}
.setsize{
    margin-left: 200px;
}
.img-11{
    margin-top: 29px;
    margin-left: 1113px;
    width: 12px;
    position: absolute;
}