<div class="nav">
    <div class="shade1">
        <img src="assets/images/pageicon.png" class="img">
        <span class="wd-1">SurveyForms</span>
        <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <button class="btn3">Login</button>
        <img src="assets/images/loginlogo.png" class="img-11">
        <input type="checkbox" id="dropdown" />
            <label for="dropdown" class="dropdown-btn">
              <span class="arrow"></span>
            </label>
            <ul class="dropdown-content" role="menu">
              <li><span class="profile" (click)="userlogin()">User</span></li>
              <div class="gaps"></div>
              <li><span class="profile" (click)="adminlogin()">Admin</span></li>
              <div class="gaps"></div>
              <li><span class="profile" (click)="superadmin()">Super admin</span></li>
            </ul>
    </div>
</div>
<div class="box2">
    <div class="outer">
        <img src="assets/images/guserimaeg.png" class="img-1">
    </div>
    <div>
        <span class="t1">Get start with surveys</span>
    </div>
    <div>
        <div class="b1" routerLink="/demof1" @fade>
            <div class="logo">
                <img src="assets/images/contact.png" class="img-2">
                <span class="wd-33">Contact Form</span>
                <span class="wd-4">click to see the form </span>
            </div>
        </div>
        <div class="b2" routerLink="/event" @fade>
            <div class="logo">
                <img src="assets/images/contact.png" class="img-2">
                <span class="wd-33">Event Form</span>
                <span class="wd-4">click to see the form </span>
            </div>
        </div>
    </div>
    <div class="">
        <img src="assets/images/iconinfo.png" class="iconinfo" (click)="showdemo()">
        <img src="assets/images/bot.png" class="chatbots " (click)="showchatbot()">
    </div>
    <div >
    </div>
</div>