.box2{
    position:relative;
    width: 100% ;
    height: 86%;
    margin-top: -10px;
    overflow-y: hidden;
    background-color: #EDEBF2;
}
.t8{
    position: absolute;
    margin-top: 29px;
    margin-left:89px;
    font-size: 48px;
    color: #000;
}
.line2{
    border: 1px solid #54B069;
    width: 400px;
    height: 2px;
    background-color: black;
    margin-top: 80px;
    margin-left: 50px;
    position: absolute;
    box-shadow: 8px 1px 2px darkcyan;
}
.f1{
    border: 1px solid black;
    width: 0px;
    height: 300px;
}
.b1{
    position:absolute;
    border: 1px solid lightgray;
    width: 230px;
    height: 200px;
    margin-top: 60px;
    margin-left: 80px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 1s;
    background-color: white;
}
.b1:hover{
    box-shadow: 2px 2px 2px green;
    transform: scale(1.2);
    border-radius: 0;
    z-index: 1;
}
.b2{
    background-color: white;
    position:absolute;
    border: 1px solid lightgray;
    width: 230px;
    height: 200px;
    margin-top: 60px;
    margin-left: 380px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 1s;
}
.b2:hover{
    box-shadow: 2px 2px 2px green;
    transform: scale(1.2);
    border-radius: 0;
    z-index: 1;
}
.wd-3{
    float: left;
    border: 1px soldi black;
    width: 230px;
    margin-top: 12px;
    margin-left: 19px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.wd-4{
    float: left;
    border: 1px soldi black;
    width: 230px;
    margin-top: 22px;
    margin-left: 19px;
    font-size: 15px;
    text-decoration: none;
    color: blue;
}
.img-2{
    width: 55px;
    margin-top: 20px;
    margin-left: 85px;
}
.example-spacer {
    flex: 1 1 auto;
}

.shade1 {
    background-color: #404040;
    color: white;
    height: 80px;
}
.wd-1 {
    margin-left: 12px;
    font-weight: 100px;
    font-size: 22px;
    margin-top: 36px;
    position: absolute;
}
.icon{
    margin-top: 32px;
    margin-left: 32px;
}
.wd-2 {
    margin-left: 39px;
    font-weight: lighter;
    font-size: 19px;
    margin-top: 2px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
}

.wd-3 {
    margin-left: 9px;
    font-size: 20px;
    margin-top: 8px;
    cursor: pointer;
    height: 40px;
    border-radius: 12px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    color: black;
    width: 220px;
}

.chat{
    border: 1px solid black;
    width: 140px;
    height: 100px;
    margin-top: 20px;
    margin-left:1190px;
}
.iconinfo{
    margin-top: 480px;
    height: 40px;
    width:40px;
    margin-left:1250px;
    border-radius: 120px;
    cursor:pointer;
}
.chatbots{
    cursor: pointer;
    position: absolute;
    margin-top: 420px;
    height: 40px;
    width:40px;
    margin-left:-48px;
    border-radius: 10px;
}
.icon2{
    position: absolute;
    margin-top: -32px;
    margin-left: 1260px;
}
.dropdown {
    height: 10px;
    margin-left: 1100;
    position: absolute;
    width: 10%;
    margin-top: -42px;
  }
  
.dropdown-btn {
    background:green;
    font-size: 18px;
    width: 80%;
    height: 20px;
    margin-left: 1150px;
    border: none;
    color: #fff;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}
.btn{
    border: 1px solid #FFF5EE;
    width: 120px;
    height: 30px;
    background-color: #FFF5EE;
    margin-top: 3px;
    margin-left: 28px;
    color: red;
    cursor: pointer;
    font-size: 19px;
}
.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
}
  
.dropdown-content {
    list-style: none;
    top: 3em;
    position: relative;
    width: 190px;
    height: 100px;
    margin-left: 1100px;
    visibility: hidden;
    transform: translateY(1em);
    transition: transform ease 0.3s;
    color: black;
    z-index: 2; /* Set a higher z-index */

}
.profile{
    margin-top: 12px;
    position: absolute;
    margin-left: 18px;
    font-size: 18px;
    text-decoration: underline;
}  
input[type="checkbox"]:checked ~ .dropdown-content {
    visibility: visible;
    transform: translateY(0);
}
  
  .dropdown-content li {
    background:#FFF5EE;
    height: 50px;
  }
  
  input[type="checkbox"]:checked + label > .arrow {
    transform: rotate(180deg);
  }
  
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  }
  
  input[type="checkbox"]:focus + label {
    box-shadow: 0 0 20px rgb(83, 83, 83);
  }
  
  .dropdown-content li:hover {
    background: #FFF5EE;
  }
  
  
.btn2{
    border: 1px solid #d7e4da;
    width: 88px;
    height: 36px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1008px;
    font-size: 17px;
    color: black;
    background-color: rgb(237, 248, 237);
    cursor: pointer;
}
.btn2:hover{
    opacity: 0.8;
} 
.btn3{
    border: 1px solid #54B069;
    width: 88px;
    height: 36px;
    position: absolute;
    margin-top: 20px;
    margin-left: 1108px;
    font-size: 17px;
    color: white;
    background-color: darkgreen;
    cursor: pointer;
}
.btn3:hover{
    opacity: 0.8;
}
.setsize{
    margin-left: 200px;
}