.wd-1 {
    position: absolute;
    font-size: 29px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    margin-top: -35px;
    margin-left: 260px;
}

.block1 {
    border: 1px solid #F8F7FA;
    margin-top: -490px;
    margin-left: 260px;
    width: 1060px;
    height: 450px;
    overflow-x: hidden;
}

.wd-2 {
    position: absolute;
    font-size: 20px;
    margin-left: 23px;
    margin-top: 10px;
    font-family: 'Overpass', sans-serif;
}

.insideblock {
    border: 1px solid #F8F7FA;
    width: 1038px;
    min-height: 260px;
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 10px;
}

.gaps {
    margin-top: 40px;

}

.list {
    border: 1px solid #F8F7FA;
    max-width: 200px auto;
    width: 280px;
    height: 40px;
    position: relative;
    cursor: pointer;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.img-11 {
    margin-top: 12px;
    margin-left: 19px;
    width: 20px;
}

.wd-3 {
    font-size: 17px;
    margin-top: 12px;
    margin-left: 0px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: lighter;
}

.list2 {
    border: 1px solid white;
    max-width: 0px auto;
    width: 0px;
    height: 40px;
    position: absolute;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.wd-4 {
    position: absolute;
    font-size: 20px;
    margin-left: 23px;
    margin-top: 18px;
    font-family: 'Overpass', sans-serif;
    color: black;
}

.wd-5 {
    font-size: 17px;
    margin-top: 12px;
    margin-left: 10px;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-weight: lighter;
}

@media screen and (max-width:600px) {

    .block1 {
        border: 1px solid #F8F7FA;
        margin-top: -220px;
        margin-left: 50px;
        width: 540px;
        height: 400px;
        overflow-x: hidden;
    }
    .wd-1{
        position: absolute;
        font-size: 24px;
        font-family: 'Hedvig Letters Sans', sans-serif;
        margin-top: -35px;
        margin-left: 73px;
    }
    .insideblock {
        border: 1px solid #F8F7FA;
        width: 540px;
        display:block;
        height: 100px;
        overflow: hidden;
        scroll-behavior: auto;
        position: relative;
        margin-top: 0px;
        margin-left: 0px;
        border-radius: 10px;
    }
    .list {
        border: 1px solid #F8F7FA;
        max-width: 200px auto;
        width: 500px;
        height: 40px;
        position: relative;
        cursor: pointer;
        float: left;
        margin-top: 10px;
        margin-left: 5px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
}