.title{
    position: absolute;
    margin-top: 20px;
    width: 290px;
    margin-left: 200px;
    color: green;
    font-size: 20px;
}
.example-spacer {
    flex: 1 1 auto;
}
.back{
    font-size: 22px;
    margin-left: 1200px;
    cursor: pointer;
}
.shade1 {
    background-color: #404040;
    color: white;
    height: 80px;
}

.wd-1 {
    margin-left: 12px;
    font-weight: 100px;
    font-size: 22px;
    margin-top: 36px;
    position: absolute;
}.icon {
    margin-top: 32px;
    margin-left: 32px;
}

.box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
    margin-left: 400px;
    position: absolute;
    width: 550px;
    height: 470px;
}
.t1{
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
    font-size: 17px;
}
.inp1{
    border: 1px solid black;
    margin-top: 90px;
    margin-left: 20px;
    width: 490px;
    height: 30px;
    position: absolute;
}
.t2{
    position: absolute;
    margin-top: 140px;
    margin-left: 20px;
    font-size: 17px;
}
.inp2{
    border: 1px solid black;
    margin-top: 160px;
    margin-left: 20px;
    width: 490px;
    height: 30px;
    position: absolute;
}
.t3{
    position: absolute;
    margin-top: 210px;
    margin-left: 20px;
    font-size: 17px;
}
.inp3{
    border: 1px solid black;
    margin-top: 230px;
    margin-left:20px;
    width: 490px;
    height: 30px;
    position: absolute;
}
.close{
    position: absolute;
    margin-left: 480px;
    margin-top: 10px;
}
.t4{
    position: absolute;
    margin-top: 280px;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold
}
.inp4{
    border: 1px solid black;
    margin-top: 300px;
    margin-left: 20px;
    width: 350px;
    height: 60px;
    position: absolute;
}
.btn1{
    border: 1px solid white;
    position: absolute;
    width: 90px;
    height: 40px;
    margin-left:200px;
    margin-top: 400px;
    font-size: 22px;
    background-color: green;
    color: white; 
    cursor: pointer;
}
.list{
    position: absolute;
    margin-top: 300px;
    margin-left: 62px;
}