<div class="nav">
    <div class="shade1">
        <img src="assets/images/pageicon.png" class="img">
        <span class="wd-1">SurveyForms</span>
        <span class="example-spacer"></span>
        <span class="example-spacer"></span>
        <mat-icon class="icon1">home</mat-icon>
        <span class="test1" (click)="homepage()">Home</span>
        <button class="btn33">sign out</button>
        <img src="assets/images/signoutlogo.png" class="img-11">
    </div>
</div>
<div class="bg">
    <div class="sidenav">
        <div class="b1">
            <span class="b1-op">Build</span>
            <img src="assets/images/build.png" class="imgs">
        </div>
        <div class="b11">
            <span class="b1-op1">Multiple Choice</span>
            <mat-icon class="imgs1">list</mat-icon>
        </div>
        <div class="b12">
            <span class="b1-op1">checkbox</span>
            <mat-icon class="imgs1">check_box</mat-icon>        
        </div>
        <div class="b13">
            <span class="b1-op1">Single text</span>
            <mat-icon class="imgs1">crop_7_5</mat-icon>
        </div>
        <div class="b14">
            <span class="b1-op1">Comment Box</span>
            <mat-icon class="imgs1">chat_bubble_outline</mat-icon>
        </div>
    </div>
<!--design a form titile here -->
<div class="hd-b"><!--hd-b=headblock-->
    <h2 class="input1">{{displayTitle}}</h2>
</div>
<!--creating the form title block where we can write the titile of the form -->
<div class="fm-b"><!--fm-b = form block-->
    <div>
        <h2 class="input-1">{{displayTitle}}</h2>
    </div>
</div>